NodeRED/all_flows.json
[{"id":"a6675467.bd1848","type":"tab","label":"Light Logic","disabled":false,"info":""},{"id":"f5d8069b.c88ee8","type":"tab","label":"Buttons","disabled":false,"info":""},{"id":"df5f686e.c67618","type":"tab","label":"Day Light Sensors","disabled":false,"info":""},{"id":"dc4d8521.339568","type":"tab","label":"Invert Channel","disabled":false,"info":""},{"id":"ab5052ac.9654","type":"tab","label":"Navigable UI","disabled":false,"info":""},{"id":"3716e5ea.d2b03a","type":"tab","label":"Logs","disabled":false,"info":""},{"id":"f6ee7db8.b87","type":"mqtt-broker","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b0c7f0b0.9b4a","type":"ui_tab","name":"Invert Channels","icon":"settings","order":10,"disabled":false,"hidden":true},{"id":"2b1c9939.ec55d6","type":"ui_group","name":"Panel_1A","tab":"b0c7f0b0.9b4a","order":1,"disp":true,"width":"4","collapse":false},{"id":"799571c6.254ad","type":"ui_group","name":"Panel_1B","tab":"b0c7f0b0.9b4a","order":2,"disp":true,"width":"4","collapse":false},{"id":"69df1082.d3306","type":"ui_group","name":"Panel_1C","tab":"b0c7f0b0.9b4a","order":3,"disp":true,"width":"4","collapse":false},{"id":"43f9fb87.b0d144","type":"ui_group","name":"Panel_2A","tab":"b0c7f0b0.9b4a","order":4,"disp":true,"width":"4","collapse":false},{"id":"9224b34a.f295f","type":"websocket-listener","path":"/ws/lighting","wholemsg":"false"},{"id":"5ad3ee98.2ce85","type":"ui_group","name":"Day Light Sensor 1","tab":"573769d5.2b3b88","order":1,"disp":true,"width":"6","collapse":false},{"id":"34edc763.8d18c8","type":"ui_group","name":"Day Light Sensor 2","tab":"573769d5.2b3b88","order":2,"disp":true,"width":"6","collapse":false},{"id":"306a82bd.78ce2e","type":"ui_group","name":"Day Light Sensor 3","tab":"573769d5.2b3b88","order":3,"disp":true,"width":"6","collapse":false},{"id":"55992ca2.e73d34","type":"ui_group","name":"Day Light Sensor 4","tab":"573769d5.2b3b88","order":4,"disp":true,"width":"6","collapse":false},{"id":"256e3282.15eeae","type":"ui_group","name":"Day Light Sensor 5","tab":"573769d5.2b3b88","order":5,"disp":true,"width":"6","collapse":false},{"id":"e992f132.e21bd","type":"ui_group","name":"Day Light Sensor 6","tab":"573769d5.2b3b88","order":6,"disp":true,"width":"6","collapse":false},{"id":"54e4ff30.dbd08","type":"ui_group","name":"Day Light Sensor 7","tab":"573769d5.2b3b88","order":7,"disp":true,"width":"6","collapse":false},{"id":"573769d5.2b3b88","type":"ui_tab","name":"Light Sensors","icon":"settings","order":9,"disabled":false,"hidden":true},{"id":"d1625bde.7572c8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"cfe7ff22.67f68","type":"ui_tab","name":"1st Floor Cubicals","icon":"control_point","order":1,"disabled":false,"hidden":false},{"id":"be494189.bf889","type":"ui_group","name":"Lights","tab":"cfe7ff22.67f68","order":1,"disp":true,"width":"6","collapse":false},{"id":"b8b8daa.4998e28","type":"ui_tab","name":"Craft Lab","icon":"control_point","order":3,"disabled":false,"hidden":false},{"id":"70c7f6b4.3fa848","type":"ui_group","name":"Lights","tab":"b8b8daa.4998e28","order":1,"disp":true,"width":"6","collapse":false},{"id":"890421e9.ce305","type":"ui_tab","name":"Meeting Room","icon":"control_point","order":4,"disabled":false,"hidden":false},{"id":"1990ef0.1f1c611","type":"ui_group","name":"Lights","tab":"890421e9.ce305","order":1,"disp":true,"width":"6","collapse":false},{"id":"5f847358.4a6a8c","type":"ui_tab","name":"Basement","icon":"control_point","order":6,"disabled":false,"hidden":false},{"id":"8466f6ed.f1bca8","type":"ui_group","name":"Lights","tab":"5f847358.4a6a8c","order":1,"disp":true,"width":"6","collapse":false},{"id":"3db48d75.4f5882","type":"ui_tab","name":"West Hall","icon":"control_point","order":7,"disabled":false,"hidden":false},{"id":"41d597bb.404f28","type":"ui_group","name":"Western Bay","tab":"3db48d75.4f5882","order":1,"disp":true,"width":"6","collapse":false},{"id":"69c278a.d6ee088","type":"ui_group","name":"Middle Bay","tab":"3db48d75.4f5882","order":2,"disp":true,"width":"6","collapse":false},{"id":"21c4b52e.84c69a","type":"ui_group","name":"Eastern Bay","tab":"3db48d75.4f5882","order":3,"disp":true,"width":"6","collapse":false},{"id":"b527ed1e.edcdc","type":"ui_tab","name":"Mercantile","icon":"control_point","order":5,"disabled":false,"hidden":false},{"id":"e13371b5.6cc3a","type":"ui_group","name":"Lights","tab":"b527ed1e.edcdc","order":1,"disp":true,"width":"6","collapse":false},{"id":"93bd3b5b.bde6e8","type":"ui_tab","name":"East Hall","icon":"control_point","order":8,"disabled":false,"hidden":false},{"id":"d3e37306.9d351","type":"ui_group","name":"Eastern Bay","tab":"93bd3b5b.bde6e8","order":2,"disp":true,"width":"6","collapse":false},{"id":"ebbe332e.0cc5e","type":"ui_group","name":"South East Bay","tab":"93bd3b5b.bde6e8","order":3,"disp":true,"width":"6","collapse":false},{"id":"3533bca4.fd6b54","type":"ui_tab","name":"2nd Floor Cubicals","icon":"control_point","order":2,"disabled":false,"hidden":false},{"id":"bdca7b8f.9d6458","type":"ui_group","name":"Lights","tab":"3533bca4.fd6b54","order":1,"disp":true,"width":"6","collapse":false},{"id":"78e17c6.f3ea684","type":"ui_group","name":"Western Bay","tab":"93bd3b5b.bde6e8","order":1,"disp":true,"width":"6","collapse":false},{"id":"189e1deb.7d0c02","type":"ui_group","name":"Forge","tab":"93bd3b5b.bde6e8","order":4,"disp":true,"width":"6","collapse":false},{"id":"f554b1b8.a2cd4","type":"ui_group","name":"Welding","tab":"93bd3b5b.bde6e8","order":5,"disp":true,"width":"6","collapse":false},{"id":"282fca50.167016","type":"mqtt out","z":"dc4d8521.339568","name":"1A_1 Invert","topic":"lighting/panel_1a/channel_1/invert","qos":"2","retain":"true","broker":"f6ee7db8.b87","x":390,"y":240,"wires":[]},{"id":"3fb3518e.7ba82e","type":"mqtt out","z":"dc4d8521.339568","name":"1A_2 Invert","topic":"lighting/panel_1a/channel_2/invert","qos":"2","retain":"true","broker":"f6ee7db8.b87","x":390,"y":300,"wires":[]},{"id":"df4fc58c.fd6448","type":"mqtt out","z":"dc4d8521.339568","name":"1A_3 Invert","topic":"lighting/panel_1a/channel_3/invert","qos":"2","retain":"true","broker":"f6ee7db8.b87","x":390,"y":360,"wires":[]},{"id":"6a8ec027.cb30a","type":"mqtt out","z":"dc4d8521.339568","name":"1A_4 Invert","topic":"lighting/panel_1a/channel_4/invert","qos":"2","retain":"true","broker":"f6ee7db8.b87","x":390,"y":420,"wires":[]},{"id":"7a8c4993.47d468","type":"mqtt out","z":"dc4d8521.339568","name":"1A_5 Invert","topic":"lighting/panel_1a/channel_5/invert","qos":"2","retain":"true","broker":"f6ee7db8.b87","x":390,"y":480,"wires":[]},{"id":"b93ac703.7b9358","type":"mqtt out","z":"dc4d8521.339568","name":"1A_6 Invert","topic":"lighting/panel_1a/channel_6/invert","qos":"2","retain":"true","broker":"f6ee7db8.b87","x":390,"y":540,"wires":[]},{"id":"9a32f8.f7bdcd08","type":"mqtt out","z":"dc4d8521.339568","name":"1A_7 Invert","topic":"lighting/panel_1a/channel_7/invert","qos":"2","retain":"true","broker":"f6ee7db8.b87","x":390,"y":600,"wires":[]},{"id":"c9bdcd39.f4f6b","type":"mqtt out","z":"dc4d8521.339568","name":"1A_8 Invert","topic":"lighting/panel_1a/channel_8/invert","qos":"2","retain":"true","broker":"f6ee7db8.b87","x":390,"y":660,"wires":[]},{"id":"b788ff3c.3c292","type":"mqtt out","z":"dc4d8521.339568","name":"1A_9 Invert","topic":"lighting/panel_1a/channel_9/invert","qos":"2","retain":"true","broker":"f6ee7db8.b87","x":390,"y":720,"wires":[]},{"id":"d60dc6dc.4a0058","type":"mqtt out","z":"dc4d8521.339568","name":"1A_10 Invert","topic":"lighting/panel_1a/channel_10/invert","qos":"2","retain":"true","broker":"f6ee7db8.b87","x":390,"y":780,"wires":[]},{"id":"fe484867.150b68","type":"mqtt out","z":"dc4d8521.339568","name":"1A_11 Invert","topic":"lighting/panel_1a/channel_11/invert","qos":"2","retain":"true","broker":"f6ee7db8.b87","x":390,"y":840,"wires":[]},{"id":"37ed54fd.5ab43c","type":"mqtt out","z":"dc4d8521.339568","name":"1A_12 Invert","topic":"lighting/panel_1a/channel_12/invert","qos":"2","retain":"true","broker":"f6ee7db8.b87","x":390,"y":900,"wires":[]},{"id":"ce640e07.96236","type":"mqtt out","z":"dc4d8521.339568","name":"1A_13 Invert","topic":"lighting/panel_1a/channel_13/invert","qos":"2","retain":"true","broker":"f6ee7db8.b87","x":390,"y":960,"wires":[]},{"id":"e00f35db.bfba88","type":"mqtt out","z":"dc4d8521.339568","name":"1A_14 Invert","topic":"lighting/panel_1a/channel_14/invert","qos":"2","retain":"true","broker":"f6ee7db8.b87","x":390,"y":1020,"wires":[]},{"id":"b293ab65.863658","type":"mqtt out","z":"dc4d8521.339568","name":"1A_15 Invert","topic":"lighting/panel_1a/channel_15/invert","qos":"2","retain":"true","broker":"f6ee7db8.b87","x":390,"y":1080,"wires":[]},{"id":"b299a2cb.db3f4","type":"mqtt out","z":"dc4d8521.339568","name":"1A_16 Invert","topic":"lighting/panel_1a/channel_16/invert","qos":"2","retain":"true","broker":"f6ee7db8.b87","x":390,"y":1140,"wires":[]},{"id":"bcf39421.8eee98","type":"mqtt out","z":"dc4d8521.339568","name":"1B_1 Invert","topic":"lighting/panel_1b/channel_1/invert","qos":"2","retain":"true","broker":"f6ee7db8.b87","x":790,"y":240,"wires":[]},{"id":"932eaa93.3a4478","type":"mqtt out","z":"dc4d8521.339568","name":"1B_2 Invert","topic":"lighting/panel_1b/channel_2/invert","qos":"2","retain":"true","broker":"f6ee7db8.b87","x":790,"y":300,"wires":[]},{"id":"3b046bca.aca714","type":"mqtt out","z":"dc4d8521.339568","name":"1B_3 Invert","topic":"lighting/panel_1b/channel_3/invert","qos":"2","retain":"true","broker":"f6ee7db8.b87","x":790,"y":360,"wires":[]},{"id":"45da822b.db713c","type":"mqtt out","z":"dc4d8521.339568","name":"1B_4 Invert","topic":"lighting/panel_1b/channel_4/invert","qos":"2","retain":"true","broker":"f6ee7db8.b87","x":790,"y":420,"wires":[]},{"id":"ef959cc1.93ebd","type":"mqtt out","z":"dc4d8521.339568","name":"1B_5 Invert","topic":"lighting/panel_1b/channel_5/invert","qos":"2","retain":"true","broker":"f6ee7db8.b87","x":790,"y":480,"wires":[]},{"id":"aa80dd2a.ff7ad","type":"mqtt out","z":"dc4d8521.339568","name":"1B_6 Invert","topic":"lighting/panel_1b/channel_6/invert","qos":"2","retain":"true","broker":"f6ee7db8.b87","x":790,"y":540,"wires":[]},{"id":"cdc27f1a.16a0e","type":"mqtt out","z":"dc4d8521.339568","name":"1B_7 Invert","topic":"lighting/panel_1b/channel_7/invert","qos":"2","retain":"true","broker":"f6ee7db8.b87","x":790,"y":600,"wires":[]},{"id":"7795057.05d02fc","type":"mqtt out","z":"dc4d8521.339568","name":"1B_8 Invert","topic":"lighting/panel_1b/channel_8/invert","qos":"2","retain":"true","broker":"f6ee7db8.b87","x":790,"y":660,"wires":[]},{"id":"4c173f17.078a","type":"mqtt out","z":"dc4d8521.339568","name":"1B_9 Invert","topic":"lighting/panel_1b/channel_9/invert","qos":"2","retain":"true","broker":"f6ee7db8.b87","x":790,"y":720,"wires":[]},{"id":"ecf8c28e.2d885","type":"mqtt out","z":"dc4d8521.339568","name":"1B_10 Invert","topic":"lighting/panel_1b/channel_10/invert","qos":"2","retain":"true","broker":"f6ee7db8.b87","x":790,"y":780,"wires":[]},{"id":"3d131ae6.b5eaa6","type":"mqtt out","z":"dc4d8521.339568","name":"1B_11 Invert","topic":"lighting/panel_1b/channel_11/invert","qos":"2","retain":"true","broker":"f6ee7db8.b87","x":790,"y":840,"wires":[]},{"id":"4bd184fe.26497c","type":"mqtt out","z":"dc4d8521.339568","name":"1B_12 Invert","topic":"lighting/panel_1b/channel_12/invert","qos":"2","retain":"true","broker":"f6ee7db8.b87","x":790,"y":900,"wires":[]},{"id":"ca7da280.98d73","type":"mqtt out","z":"dc4d8521.339568","name":"1B_13 Invert","topic":"lighting/panel_1b/channel_13/invert","qos":"2","retain":"true","broker":"f6ee7db8.b87","x":790,"y":960,"wires":[]},{"id":"809c352.9be0fc8","type":"mqtt out","z":"dc4d8521.339568","name":"1B_14 Invert","topic":"lighting/panel_1b/channel_14/invert","qos":"2","retain":"true","broker":"f6ee7db8.b87","x":790,"y":1020,"wires":[]},{"id":"4ef5f0c8.c996e","type":"mqtt out","z":"dc4d8521.339568","name":"1B_15 Invert","topic":"lighting/panel_1b/channel_15/invert","qos":"2","retain":"true","broker":"f6ee7db8.b87","x":790,"y":1080,"wires":[]},{"id":"e7b54b93.4f2f48","type":"mqtt out","z":"dc4d8521.339568","name":"1B_16 Invert","topic":"lighting/panel_1b/channel_16/invert","qos":"2","retain":"true","broker":"f6ee7db8.b87","x":790,"y":1140,"wires":[]},{"id":"2b592adc.a65106","type":"ui_switch","z":"dc4d8521.339568","name":"","label":"Channel 1","tooltip":"Click to toggle. Not Inverted <---> Inverted","group":"2b1c9939.ec55d6","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":true,"x":190,"y":240,"wires":[["282fca50.167016"]]},{"id":"2692c295.7b8c3e","type":"ui_switch","z":"dc4d8521.339568","name":"","label":"Channel 2","tooltip":"Click to toggle. Not Inverted <---> Inverted","group":"2b1c9939.ec55d6","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":true,"x":190,"y":300,"wires":[["3fb3518e.7ba82e"]]},{"id":"a65be6bf.66df08","type":"ui_switch","z":"dc4d8521.339568","name":"","label":"Channel 3","tooltip":"Click to toggle. Not Inverted <---> Inverted","group":"2b1c9939.ec55d6","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":true,"x":190,"y":360,"wires":[["df4fc58c.fd6448"]]},{"id":"d963e02b.93dda","type":"ui_switch","z":"dc4d8521.339568","name":"","label":"Channel 4","tooltip":"Click to toggle. Not Inverted <---> Inverted","group":"2b1c9939.ec55d6","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":true,"x":190,"y":420,"wires":[["6a8ec027.cb30a"]]},{"id":"422cf5c4.43ee2c","type":"ui_switch","z":"dc4d8521.339568","name":"","label":"Channel 5","tooltip":"Click to toggle. Not Inverted <---> Inverted","group":"2b1c9939.ec55d6","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":true,"x":190,"y":480,"wires":[["7a8c4993.47d468"]]},{"id":"c25ce472.d2f938","type":"ui_switch","z":"dc4d8521.339568","name":"","label":"Channel 6","tooltip":"Click to toggle. Not Inverted <---> Inverted","group":"2b1c9939.ec55d6","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":true,"x":190,"y":540,"wires":[["b93ac703.7b9358"]]},{"id":"55f88f2f.2679","type":"ui_switch","z":"dc4d8521.339568","name":"","label":"Channel 7","tooltip":"Click to toggle. Not Inverted <---> Inverted","group":"2b1c9939.ec55d6","order":7,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":true,"x":190,"y":600,"wires":[["9a32f8.f7bdcd08"]]},{"id":"ef0c16e6.a329a8","type":"ui_switch","z":"dc4d8521.339568","name":"","label":"Channel 8","tooltip":"Click to toggle. Not Inverted <---> Inverted","group":"2b1c9939.ec55d6","order":8,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":true,"x":190,"y":660,"wires":[["c9bdcd39.f4f6b"]]},{"id":"f9562fb.b16d3d","type":"ui_switch","z":"dc4d8521.339568","name":"","label":"Channel 9","tooltip":"Click to toggle. Not Inverted <---> Inverted","group":"2b1c9939.ec55d6","order":9,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":true,"x":190,"y":720,"wires":[["b788ff3c.3c292"]]},{"id":"1bcc4185.8d466e","type":"ui_switch","z":"dc4d8521.339568","name":"","label":"Channel 10","tooltip":"Click to toggle. Not Inverted <---> Inverted","group":"2b1c9939.ec55d6","order":10,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":true,"x":190,"y":780,"wires":[["d60dc6dc.4a0058"]]},{"id":"626e0b4.245a1f4","type":"ui_switch","z":"dc4d8521.339568","name":"","label":"Channel 11","tooltip":"Click to toggle. Not Inverted <---> Inverted","group":"2b1c9939.ec55d6","order":11,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":true,"x":190,"y":840,"wires":[["fe484867.150b68"]]},{"id":"fa3b7f97.e76ae","type":"ui_switch","z":"dc4d8521.339568","name":"","label":"Channel 12","tooltip":"Click to toggle. Not Inverted <---> Inverted","group":"2b1c9939.ec55d6","order":12,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":true,"x":190,"y":900,"wires":[["37ed54fd.5ab43c"]]},{"id":"c3a4d9f0.33bfe8","type":"ui_switch","z":"dc4d8521.339568","name":"","label":"Channel 13","tooltip":"Click to toggle. Not Inverted <---> Inverted","group":"2b1c9939.ec55d6","order":13,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":true,"x":190,"y":960,"wires":[["ce640e07.96236"]]},{"id":"e000fb87.760bb8","type":"ui_switch","z":"dc4d8521.339568","name":"","label":"Channel 14","tooltip":"Click to toggle. Not Inverted <---> Inverted","group":"2b1c9939.ec55d6","order":14,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":true,"x":190,"y":1020,"wires":[["e00f35db.bfba88"]]},{"id":"65cc8e6f.5a234","type":"ui_switch","z":"dc4d8521.339568","name":"","label":"Channel 15","tooltip":"Click to toggle. Not Inverted <---> Inverted","group":"2b1c9939.ec55d6","order":15,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":true,"x":190,"y":1080,"wires":[["b293ab65.863658"]]},{"id":"c3046028.df49b","type":"ui_switch","z":"dc4d8521.339568","name":"","label":"Channel 16","tooltip":"Click to toggle. Not Inverted <---> Inverted","group":"2b1c9939.ec55d6","order":16,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":true,"x":190,"y":1140,"wires":[["b299a2cb.db3f4"]]},{"id":"66bbea1f.27aeb4","type":"ui_switch","z":"dc4d8521.339568","name":"","label":"Channel 1","tooltip":"Click to toggle. Not Inverted <---> Inverted","group":"799571c6.254ad","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":true,"x":590,"y":240,"wires":[["bcf39421.8eee98"]]},{"id":"4cd97b73.4ba8a4","type":"ui_switch","z":"dc4d8521.339568","name":"","label":"Channel 2","tooltip":"Click to toggle. Not Inverted <---> Inverted","group":"799571c6.254ad","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":true,"x":590,"y":300,"wires":[["932eaa93.3a4478"]]},{"id":"6b4e6439.bb505c","type":"ui_switch","z":"dc4d8521.339568","name":"","label":"Channel 3","tooltip":"Click to toggle. Not Inverted <---> Inverted","group":"799571c6.254ad","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":true,"x":590,"y":360,"wires":[["3b046bca.aca714"]]},{"id":"ca8e99c8.6a4268","type":"ui_switch","z":"dc4d8521.339568","name":"","label":"Channel 4","tooltip":"Click to toggle. Not Inverted <---> Inverted","group":"799571c6.254ad","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":true,"x":590,"y":420,"wires":[["45da822b.db713c"]]},{"id":"d041a3ea.e527","type":"ui_switch","z":"dc4d8521.339568","name":"","label":"Channel 5","tooltip":"Click to toggle. Not Inverted <---> Inverted","group":"799571c6.254ad","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":true,"x":590,"y":480,"wires":[["ef959cc1.93ebd"]]},{"id":"ebb0b322.f830a","type":"ui_switch","z":"dc4d8521.339568","name":"","label":"Channel 6","tooltip":"Click to toggle. Not Inverted <---> Inverted","group":"799571c6.254ad","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":true,"x":590,"y":540,"wires":[["aa80dd2a.ff7ad"]]},{"id":"e1bd9d8f.bcc7d","type":"ui_switch","z":"dc4d8521.339568","name":"","label":"Channel 7","tooltip":"Click to toggle. Not Inverted <---> Inverted","group":"799571c6.254ad","order":7,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":true,"x":590,"y":600,"wires":[["cdc27f1a.16a0e"]]},{"id":"c047dc4d.467e","type":"ui_switch","z":"dc4d8521.339568","name":"","label":"Channel 8","tooltip":"Click to toggle. Not Inverted <---> Inverted","group":"799571c6.254ad","order":8,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":true,"x":590,"y":660,"wires":[["7795057.05d02fc"]]},{"id":"e7e2e8d7.7cb878","type":"ui_switch","z":"dc4d8521.339568","name":"","label":"Channel 9","tooltip":"Click to toggle. Not Inverted <---> Inverted","group":"799571c6.254ad","order":9,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":true,"x":590,"y":720,"wires":[["4c173f17.078a"]]},{"id":"a3128150.6e4af","type":"ui_switch","z":"dc4d8521.339568","name":"","label":"Channel 10","tooltip":"Click to toggle. Not Inverted <---> Inverted","group":"799571c6.254ad","order":10,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":true,"x":590,"y":780,"wires":[["ecf8c28e.2d885"]]},{"id":"87b892d.ec3f97","type":"ui_switch","z":"dc4d8521.339568","name":"","label":"Channel 11","tooltip":"Click to toggle. Not Inverted <---> Inverted","group":"799571c6.254ad","order":11,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":true,"x":590,"y":840,"wires":[["3d131ae6.b5eaa6"]]},{"id":"c19dc904.ae2c58","type":"ui_switch","z":"dc4d8521.339568","name":"","label":"Channel 12","tooltip":"Click to toggle. Not Inverted <---> Inverted","group":"799571c6.254ad","order":12,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":true,"x":590,"y":900,"wires":[["4bd184fe.26497c"]]},{"id":"6aa5c4c3.20af3c","type":"ui_switch","z":"dc4d8521.339568","name":"","label":"Channel 13","tooltip":"Click to toggle. Not Inverted <---> Inverted","group":"799571c6.254ad","order":13,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":true,"x":590,"y":960,"wires":[["ca7da280.98d73"]]},{"id":"22f06081.95bc2","type":"ui_switch","z":"dc4d8521.339568","name":"","label":"Channel 14","tooltip":"Click to toggle. Not Inverted <---> Inverted","group":"799571c6.254ad","order":14,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":true,"x":590,"y":1020,"wires":[["809c352.9be0fc8"]]},{"id":"60dbde1a.5c14a","type":"ui_switch","z":"dc4d8521.339568","name":"","label":"Channel 15","tooltip":"Click to toggle. Not Inverted <---> Inverted","group":"799571c6.254ad","order":15,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":true,"x":590,"y":1080,"wires":[["4ef5f0c8.c996e"]]},{"id":"bb363478.f68eb8","type":"ui_switch","z":"dc4d8521.339568","name":"","label":"Channel 16","tooltip":"Click to toggle. Not Inverted <---> Inverted","group":"799571c6.254ad","order":16,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":true,"x":590,"y":1140,"wires":[["e7b54b93.4f2f48"]]},{"id":"c4a99468.0ac528","type":"mqtt out","z":"dc4d8521.339568","name":"1C_1 Invert","topic":"lighting/panel_1c/channel_1/invert","qos":"2","retain":"true","broker":"f6ee7db8.b87","x":1190,"y":240,"wires":[]},{"id":"dbf6ed7d.3ab16","type":"mqtt out","z":"dc4d8521.339568","name":"1C_2 Invert","topic":"lighting/panel_1c/channel_2/invert","qos":"2","retain":"true","broker":"f6ee7db8.b87","x":1190,"y":300,"wires":[]},{"id":"5cebe888.0c5018","type":"mqtt out","z":"dc4d8521.339568","name":"1C_3 Invert","topic":"lighting/panel_1c/channel_3/invert","qos":"2","retain":"true","broker":"f6ee7db8.b87","x":1190,"y":360,"wires":[]},{"id":"559129a5.c34e58","type":"mqtt out","z":"dc4d8521.339568","name":"1C_4 Invert","topic":"lighting/panel_1c/channel_4/invert","qos":"2","retain":"true","broker":"f6ee7db8.b87","x":1190,"y":420,"wires":[]},{"id":"f9f933e1.0df3a","type":"mqtt out","z":"dc4d8521.339568","name":"1C_5 Invert","topic":"lighting/panel_1c/channel_5/invert","qos":"2","retain":"true","broker":"f6ee7db8.b87","x":1190,"y":480,"wires":[]},{"id":"ab77a00e.9460e","type":"mqtt out","z":"dc4d8521.339568","name":"1C_6 Invert","topic":"lighting/panel_1c/channel_6/invert","qos":"2","retain":"true","broker":"f6ee7db8.b87","x":1190,"y":540,"wires":[]},{"id":"51a6b406.fe764c","type":"mqtt out","z":"dc4d8521.339568","name":"1C_7 Invert","topic":"lighting/panel_1c/channel_7/invert","qos":"2","retain":"true","broker":"f6ee7db8.b87","x":1190,"y":600,"wires":[]},{"id":"f4ff401c.67539","type":"mqtt out","z":"dc4d8521.339568","name":"1C_8 Invert","topic":"lighting/panel_1c/channel_8/invert","qos":"2","retain":"true","broker":"f6ee7db8.b87","x":1190,"y":660,"wires":[]},{"id":"6b744b9c.f065d4","type":"mqtt out","z":"dc4d8521.339568","name":"1C_9 Invert","topic":"lighting/panel_1c/channel_9/invert","qos":"2","retain":"true","broker":"f6ee7db8.b87","x":1190,"y":720,"wires":[]},{"id":"d94ede8d.b1e6c","type":"mqtt out","z":"dc4d8521.339568","name":"1C_10 Invert","topic":"lighting/panel_1c/channel_10/invert","qos":"2","retain":"true","broker":"f6ee7db8.b87","x":1190,"y":780,"wires":[]},{"id":"f99c2e97.54292","type":"mqtt out","z":"dc4d8521.339568","name":"1C_11 Invert","topic":"lighting/panel_1c/channel_11/invert","qos":"2","retain":"true","broker":"f6ee7db8.b87","x":1190,"y":840,"wires":[]},{"id":"6ad8ce94.a984e","type":"ui_switch","z":"dc4d8521.339568","name":"","label":"Channel 1","tooltip":"Click to toggle. Not Inverted <---> Inverted","group":"69df1082.d3306","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":true,"x":990,"y":240,"wires":[["c4a99468.0ac528"]]},{"id":"ea8012f3.9ef68","type":"ui_switch","z":"dc4d8521.339568","name":"","label":"Channel 2","tooltip":"Click to toggle. Not Inverted <---> Inverted","group":"69df1082.d3306","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":true,"x":990,"y":300,"wires":[["dbf6ed7d.3ab16"]]},{"id":"714097e2.bed688","type":"ui_switch","z":"dc4d8521.339568","name":"","label":"Channel 3","tooltip":"Click to toggle. Not Inverted <---> Inverted","group":"69df1082.d3306","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":true,"x":990,"y":360,"wires":[["5cebe888.0c5018"]]},{"id":"4f3b91aa.a776f","type":"ui_switch","z":"dc4d8521.339568","name":"","label":"Channel 4","tooltip":"Click to toggle. Not Inverted <---> Inverted","group":"69df1082.d3306","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":true,"x":990,"y":420,"wires":[["559129a5.c34e58"]]},{"id":"4d2420e7.714ee","type":"ui_switch","z":"dc4d8521.339568","name":"","label":"Channel 5","tooltip":"Click to toggle. Not Inverted <---> Inverted","group":"69df1082.d3306","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":true,"x":990,"y":480,"wires":[["f9f933e1.0df3a"]]},{"id":"3d04007e.fa5c5","type":"ui_switch","z":"dc4d8521.339568","name":"","label":"Channel 6","tooltip":"Click to toggle. Not Inverted <---> Inverted","group":"69df1082.d3306","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":true,"x":990,"y":540,"wires":[["ab77a00e.9460e"]]},{"id":"1bc170d8.a70f2f","type":"ui_switch","z":"dc4d8521.339568","name":"","label":"Channel 7","tooltip":"Click to toggle. Not Inverted <---> Inverted","group":"69df1082.d3306","order":7,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":true,"x":990,"y":600,"wires":[["51a6b406.fe764c"]]},{"id":"451626c8.6173e8","type":"ui_switch","z":"dc4d8521.339568","name":"","label":"Channel 8","tooltip":"Click to toggle. Not Inverted <---> Inverted","group":"69df1082.d3306","order":8,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":true,"x":990,"y":660,"wires":[["f4ff401c.67539"]]},{"id":"79454a4f.ab20f4","type":"ui_switch","z":"dc4d8521.339568","name":"","label":"Channel 9","tooltip":"Click to toggle. Not Inverted <---> Inverted","group":"69df1082.d3306","order":9,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":true,"x":990,"y":720,"wires":[["6b744b9c.f065d4"]]},{"id":"3d9d8204.6043ee","type":"ui_switch","z":"dc4d8521.339568","name":"","label":"Channel 10","tooltip":"Click to toggle. Not Inverted <---> Inverted","group":"69df1082.d3306","order":10,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":true,"x":990,"y":780,"wires":[["d94ede8d.b1e6c"]]},{"id":"4aedd21d.1f828c","type":"ui_switch","z":"dc4d8521.339568","name":"","label":"Channel 11","tooltip":"Click to toggle. Not Inverted <---> Inverted","group":"69df1082.d3306","order":11,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":true,"x":990,"y":840,"wires":[["f99c2e97.54292"]]},{"id":"d15e8bfe.3a1758","type":"mqtt out","z":"dc4d8521.339568","name":"1C_12 Invert","topic":"lighting/panel_1c/channel_12/invert","qos":"2","retain":"true","broker":"f6ee7db8.b87","x":1190,"y":900,"wires":[]},{"id":"645d2ec.9feefd","type":"mqtt out","z":"dc4d8521.339568","name":"1C_13 Invert","topic":"lighting/panel_1c/channel_13/invert","qos":"2","retain":"true","broker":"f6ee7db8.b87","x":1190,"y":960,"wires":[]},{"id":"eb8a2605.907648","type":"mqtt out","z":"dc4d8521.339568","name":"1C_14 Invert","topic":"lighting/panel_1c/channel_14/invert","qos":"2","retain":"true","broker":"f6ee7db8.b87","x":1190,"y":1020,"wires":[]},{"id":"c135105a.33efc","type":"mqtt out","z":"dc4d8521.339568","name":"1C_15 Invert","topic":"lighting/panel_1c/channel_15/invert","qos":"2","retain":"true","broker":"f6ee7db8.b87","x":1190,"y":1080,"wires":[]},{"id":"f79b1fba.50ddf","type":"mqtt out","z":"dc4d8521.339568","name":"1C_16 Invert","topic":"lighting/panel_1c/channel_16/invert","qos":"2","retain":"true","broker":"f6ee7db8.b87","x":1190,"y":1140,"wires":[]},{"id":"d2113bc9.ac4d48","type":"ui_switch","z":"dc4d8521.339568","name":"","label":"Channel 12","tooltip":"Click to toggle. Not Inverted <---> Inverted","group":"69df1082.d3306","order":12,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":true,"x":990,"y":900,"wires":[["d15e8bfe.3a1758"]]},{"id":"69f56299.94b2cc","type":"ui_switch","z":"dc4d8521.339568","name":"","label":"Channel 13","tooltip":"Click to toggle. Not Inverted <---> Inverted","group":"69df1082.d3306","order":13,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":true,"x":990,"y":960,"wires":[["645d2ec.9feefd"]]},{"id":"5c567dd0.089c64","type":"ui_switch","z":"dc4d8521.339568","name":"","label":"Channel 14","tooltip":"Click to toggle. Not Inverted <---> Inverted","group":"69df1082.d3306","order":14,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":true,"x":990,"y":1020,"wires":[["eb8a2605.907648"]]},{"id":"b6140307.b7f92","type":"ui_switch","z":"dc4d8521.339568","name":"","label":"Channel 15","tooltip":"Click to toggle. Not Inverted <---> Inverted","group":"69df1082.d3306","order":15,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":true,"x":990,"y":1080,"wires":[["c135105a.33efc"]]},{"id":"594e4566.bf4efc","type":"ui_switch","z":"dc4d8521.339568","name":"","label":"Channel 16","tooltip":"Click to toggle. Not Inverted <---> Inverted","group":"69df1082.d3306","order":16,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":true,"x":990,"y":1140,"wires":[["f79b1fba.50ddf"]]},{"id":"565e18ea.690ab8","type":"mqtt out","z":"dc4d8521.339568","name":"2A_1 Invert","topic":"lighting/panel_2a/channel_1/invert","qos":"2","retain":"true","broker":"f6ee7db8.b87","x":1590,"y":240,"wires":[]},{"id":"64d6521b.47047c","type":"mqtt out","z":"dc4d8521.339568","name":"2A_2 Invert","topic":"lighting/panel_2a/channel_2/invert","qos":"2","retain":"true","broker":"f6ee7db8.b87","x":1590,"y":300,"wires":[]},{"id":"86c9ab68.fd27d8","type":"mqtt out","z":"dc4d8521.339568","name":"2A_3 Invert","topic":"lighting/panel_2a/channel_3/invert","qos":"2","retain":"true","broker":"f6ee7db8.b87","x":1590,"y":360,"wires":[]},{"id":"2531bf8f.373de","type":"mqtt out","z":"dc4d8521.339568","name":"2A_4 Invert","topic":"lighting/panel_2a/channel_4/invert","qos":"2","retain":"true","broker":"f6ee7db8.b87","x":1590,"y":420,"wires":[]},{"id":"2eaeb91b.7f4956","type":"mqtt out","z":"dc4d8521.339568","name":"2A_5 Invert","topic":"lighting/panel_2a/channel_5/invert","qos":"2","retain":"true","broker":"f6ee7db8.b87","x":1590,"y":480,"wires":[]},{"id":"c4a54b9e.afec48","type":"mqtt out","z":"dc4d8521.339568","name":"2A_6 Invert","topic":"lighting/panel_2a/channel_6/invert","qos":"2","retain":"true","broker":"f6ee7db8.b87","x":1590,"y":540,"wires":[]},{"id":"ee50b608.c812b8","type":"mqtt out","z":"dc4d8521.339568","name":"2A_7 Invert","topic":"lighting/panel_2a/channel_7/invert","qos":"2","retain":"true","broker":"f6ee7db8.b87","x":1590,"y":600,"wires":[]},{"id":"6eec3288.c4c87c","type":"mqtt out","z":"dc4d8521.339568","name":"2A_8 Invert","topic":"lighting/panel_2a/channel_8/invert","qos":"2","retain":"true","broker":"f6ee7db8.b87","x":1590,"y":660,"wires":[]},{"id":"a56ab72c.e51ec8","type":"mqtt out","z":"dc4d8521.339568","name":"2A_9 Invert","topic":"lighting/panel_2a/channel_9/invert","qos":"2","retain":"true","broker":"f6ee7db8.b87","x":1590,"y":720,"wires":[]},{"id":"41c1ab68.b10464","type":"mqtt out","z":"dc4d8521.339568","name":"2A_10 Invert","topic":"lighting/panel_2a/channel_10/invert","qos":"2","retain":"true","broker":"f6ee7db8.b87","x":1590,"y":780,"wires":[]},{"id":"66883f04.e019d","type":"mqtt out","z":"dc4d8521.339568","name":"2A_11 Invert","topic":"lighting/panel_2a/channel_11/invert","qos":"2","retain":"true","broker":"f6ee7db8.b87","x":1590,"y":840,"wires":[]},{"id":"e2fbc58b.8188d8","type":"ui_switch","z":"dc4d8521.339568","name":"","label":"Channel 1","tooltip":"Click to toggle. Not Inverted <---> Inverted","group":"43f9fb87.b0d144","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":true,"x":1390,"y":240,"wires":[["565e18ea.690ab8"]]},{"id":"fc53f0f0.443d","type":"ui_switch","z":"dc4d8521.339568","name":"","label":"Channel 2","tooltip":"Click to toggle. Not Inverted <---> Inverted","group":"43f9fb87.b0d144","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":true,"x":1390,"y":300,"wires":[["64d6521b.47047c"]]},{"id":"9de4a2f.e30226","type":"ui_switch","z":"dc4d8521.339568","name":"","label":"Channel 3","tooltip":"Click to toggle. Not Inverted <---> Inverted","group":"43f9fb87.b0d144","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":true,"x":1390,"y":360,"wires":[["86c9ab68.fd27d8"]]},{"id":"3d63b792.9f8b58","type":"ui_switch","z":"dc4d8521.339568","name":"","label":"Channel 4","tooltip":"Click to toggle. Not Inverted <---> Inverted","group":"43f9fb87.b0d144","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":true,"x":1390,"y":420,"wires":[["2531bf8f.373de"]]},{"id":"b31c2d0f.90799","type":"ui_switch","z":"dc4d8521.339568","name":"","label":"Channel 5","tooltip":"Click to toggle. Not Inverted <---> Inverted","group":"43f9fb87.b0d144","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":true,"x":1390,"y":480,"wires":[["2eaeb91b.7f4956"]]},{"id":"9b99862c.311db8","type":"ui_switch","z":"dc4d8521.339568","name":"","label":"Channel 6","tooltip":"Click to toggle. Not Inverted <---> Inverted","group":"43f9fb87.b0d144","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":true,"x":1390,"y":540,"wires":[["c4a54b9e.afec48"]]},{"id":"5f6f0ef0.75f44","type":"ui_switch","z":"dc4d8521.339568","name":"","label":"Channel 7","tooltip":"Click to toggle. Not Inverted <---> Inverted","group":"43f9fb87.b0d144","order":7,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":true,"x":1390,"y":600,"wires":[["ee50b608.c812b8"]]},{"id":"6c348b52.188f64","type":"ui_switch","z":"dc4d8521.339568","name":"","label":"Channel 8","tooltip":"Click to toggle. Not Inverted <---> Inverted","group":"43f9fb87.b0d144","order":8,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":true,"x":1390,"y":660,"wires":[["6eec3288.c4c87c"]]},{"id":"bb725f10.9813d","type":"ui_switch","z":"dc4d8521.339568","name":"","label":"Channel 9","tooltip":"Click to toggle. Not Inverted <---> Inverted","group":"43f9fb87.b0d144","order":9,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":true,"x":1390,"y":720,"wires":[["a56ab72c.e51ec8"]]},{"id":"3a1665db.679dba","type":"ui_switch","z":"dc4d8521.339568","name":"","label":"Channel 10","tooltip":"Click to toggle. Not Inverted <---> Inverted","group":"43f9fb87.b0d144","order":10,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":true,"x":1390,"y":780,"wires":[["41c1ab68.b10464"]]},{"id":"a9a37251.e46cd","type":"ui_switch","z":"dc4d8521.339568","name":"","label":"Channel 11","tooltip":"Click to toggle. Not Inverted <---> Inverted","group":"43f9fb87.b0d144","order":11,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":true,"x":1390,"y":840,"wires":[["66883f04.e019d"]]},{"id":"eec9bcfb.0afb4","type":"mqtt out","z":"dc4d8521.339568","name":"2A_12 Invert","topic":"lighting/panel_2a/channel_12/invert","qos":"2","retain":"true","broker":"f6ee7db8.b87","x":1590,"y":900,"wires":[]},{"id":"ff137970.f41528","type":"mqtt out","z":"dc4d8521.339568","name":"2A_13 Invert","topic":"lighting/panel_2a/channel_13/invert","qos":"2","retain":"true","broker":"f6ee7db8.b87","x":1590,"y":960,"wires":[]},{"id":"55ba8289.6ae51c","type":"ui_switch","z":"dc4d8521.339568","name":"","label":"Channel 12","tooltip":"Click to toggle. Not Inverted <---> Inverted","group":"43f9fb87.b0d144","order":12,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":true,"x":1390,"y":900,"wires":[["eec9bcfb.0afb4"]]},{"id":"2d3dcb0f.fb8d94","type":"ui_switch","z":"dc4d8521.339568","name":"","label":"Channel 13","tooltip":"Click to toggle. Not Inverted <---> Inverted","group":"43f9fb87.b0d144","order":13,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":true,"x":1390,"y":960,"wires":[["ff137970.f41528"]]},{"id":"ebadf473.805888","type":"mqtt out","z":"dc4d8521.339568","name":"2A_14 Invert","topic":"lighting/panel_2a/channel_14/invert","qos":"2","retain":"true","broker":"f6ee7db8.b87","x":1590,"y":1020,"wires":[]},{"id":"7097f6c8.c82398","type":"mqtt out","z":"dc4d8521.339568","name":"2A_15 Invert","topic":"lighting/panel_2a/channel_15/invert","qos":"2","retain":"true","broker":"f6ee7db8.b87","x":1590,"y":1080,"wires":[]},{"id":"654761fd.95162","type":"mqtt out","z":"dc4d8521.339568","name":"2A_16 Invert","topic":"lighting/panel_2a/channel_16/invert","qos":"2","retain":"true","broker":"f6ee7db8.b87","x":1590,"y":1140,"wires":[]},{"id":"d5883380.dbd45","type":"ui_switch","z":"dc4d8521.339568","name":"","label":"Channel 14","tooltip":"Click to toggle. Not Inverted <---> Inverted","group":"43f9fb87.b0d144","order":14,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":true,"x":1390,"y":1020,"wires":[["ebadf473.805888"]]},{"id":"bf14777.70a9688","type":"ui_switch","z":"dc4d8521.339568","name":"","label":"Channel 15","tooltip":"Click to toggle. Not Inverted <---> Inverted","group":"43f9fb87.b0d144","order":15,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":true,"x":1390,"y":1080,"wires":[["7097f6c8.c82398"]]},{"id":"d410a214.ff631","type":"ui_switch","z":"dc4d8521.339568","name":"","label":"Channel 16","tooltip":"Click to toggle. Not Inverted <---> Inverted","group":"43f9fb87.b0d144","order":16,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":true,"x":1390,"y":1140,"wires":[["654761fd.95162"]]},{"id":"c6a343e5.fada5","type":"websocket in","z":"a6675467.bd1848","name":"Lighting WebSocket In","server":"9224b34a.f295f","client":"","x":120,"y":140,"wires":[["2e466ec4.734a72","116d6e57.ca9402"]]},{"id":"6945a67c.1bb398","type":"websocket out","z":"a6675467.bd1848","name":"Lighting WebSocket Out","server":"9224b34a.f295f","client":"","x":1030,"y":140,"wires":[]},{"id":"2fa81901.6daec6","type":"switch","z":"a6675467.bd1848","name":"Type Switch","property":"payload.type","propertyType":"jsonata","rules":[{"t":"eq","v":"command","vt":"str"},{"t":"eq","v":"ping","vt":"str"},{"t":"eq","v":"status_request","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":450,"y":140,"wires":[["874381a0.19eea"],["fae5c978.15c528"],["5bd39c5e.9a9cf4"]]},{"id":"fae5c978.15c528","type":"change","z":"a6675467.bd1848","name":"Ping-to-Pong","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"type\":\"pong\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":140,"wires":[["6945a67c.1bb398"]]},{"id":"2b7945fd.3e84ea","type":"watch","z":"a6675467.bd1848","name":"Watch Channel Map","files":"/root/.node-red/mms_config/Channel_MQTT_Web_mapping.csv","recursive":"","x":130,"y":540,"wires":[["20815d1d.54f102"]]},{"id":"85c2f6a9.3662d8","type":"csv","z":"a6675467.bd1848","name":"Parse","sep":",","hdrin":true,"hdrout":"none","multi":"mult","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":570,"y":540,"wires":[["b69a3e27.fcf43","57d72d.99a688d4"]]},{"id":"20815d1d.54f102","type":"file in","z":"a6675467.bd1848","name":"Read Channel Map","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":370,"y":540,"wires":[["85c2f6a9.3662d8"]]},{"id":"b69a3e27.fcf43","type":"debug","z":"a6675467.bd1848","name":"Parsed Map","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":770,"y":600,"wires":[]},{"id":"57d72d.99a688d4","type":"function","z":"a6675467.bd1848","name":"Set Flow Context","func":"var count = msg.payload.length;\nvar topic_map = msg.payload;\nvar topic_to_zone = {};\nvar zone_to_topic = {};\n//One loop thru for Web_ID<->Topic maps\nfor(i = 0; i < count; ++i)\n{\n    if (\"Web_ID\" in topic_map[i])\n    {\n        topic_to_zone[topic_map[i][\"MQTT_Topic_Prefix\"]+\"/state\"] = topic_map[i][\"Web_ID\"];\n        zone_to_topic[topic_map[i][\"Web_ID\"]] = topic_map[i][\"MQTT_Topic_Prefix\"] + \"/command\";    \n    }\n}\n//node.warn(topic_to_zone);\n//One loop thru for Lux Sensor mapping\nvar lux_setup_by_tracked_status_topic = {};\nvar lux_setup_by_lux_sensor = {};\nfor(i = 0; i < count; ++i)\n{\n    if (\"Lux_Sensor_Topic\" in topic_map[i])\n    {\n        var window_topic = (topic_map[i][\"MQTT_Topic_Prefix\"] + \"/command\");\n        var lux_sensor_topic = topic_map[i][\"Lux_Sensor_Topic\"];\n\t\tvar first_tracked_web_id = topic_map[i][\"First_Tracked_Web_ID\"];\n\t\tvar second_tracked_web_id = topic_map[i][\"Second_Tracked_Web_ID\"];\n\t\tvar first_tracked_topic =  \"<none>\";\n\t\tif (typeof first_tracked_web_id == \"string\" && first_tracked_web_id.length > 0) \n\t\t{\n\t\t\tfirst_tracked_topic = zone_to_topic[first_tracked_web_id];\n\t\t\tif (typeof first_tracked_topic == \"string\") \n\t\t\t   first_tracked_topic = \n\t\t\t      first_tracked_topic.replace(\"command\", \"state\");\n\t\t}\n\t\tvar second_tracked_topic = \"<none>\";\n\t\tif (typeof second_tracked_web_id == \"string\" && second_tracked_web_id.length > 0) \n\t\t{\n\t\t\tsecond_tracked_topic = zone_to_topic[second_tracked_web_id];\n\t\t\tif (typeof second_tracked_topic == \"string\") \n\t\t\t   second_tracked_topic = \n\t\t\t      second_tracked_topic.replace(\"command\", \"state\");\n\t\t}\n\t\t\n\t\tvar lux_setup = {};\n\t\tlux_setup[\"lux_sensor_topic\"] = lux_sensor_topic;\n\t\tlux_setup[\"first_tracked_web_id\"] = first_tracked_web_id;\n\t\tlux_setup[\"second_tracked_web_id\"] = second_tracked_web_id;\n\t\tlux_setup[\"first_tracked_topic\"] = first_tracked_topic;\n\t\tlux_setup[\"second_tracked_topic\"] = second_tracked_topic;\n\t\tlux_setup[\"window_topic\"] = window_topic;\n\t\t\n\t\tlux_setup_by_tracked_status_topic[first_tracked_topic] = lux_setup;\n\t\tlux_setup_by_lux_sensor[lux_sensor_topic] = lux_setup;\n    }\n   \n}\n\n//node.warn(lux_setup_by_tracked_status_topic);\n//node.warn(lux_setup_by_lux_sensor);\n \n\nflow.set(\"topic_to_zone\", topic_to_zone);\nflow.set(\"zone_to_topic\", zone_to_topic);\nflow.set(\"lux_setup_by_tracked_status_topic\", lux_setup_by_tracked_status_topic);\nflow.set(\"lux_setup_by_lux_sensor\", lux_setup_by_lux_sensor);\nflow.set(\"version\", 3);\n\n","outputs":0,"noerr":0,"initialize":"","finalize":"","x":780,"y":540,"wires":[]},{"id":"48c4ebfc.c9ee34","type":"inject","z":"a6675467.bd1848","name":"Run at start","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"filename","v":"/root/.node-red/mms_config/Channel_MQTT_Web_mapping.csv","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":460,"wires":[["20815d1d.54f102","1e76b6a5.20dfb9"]]},{"id":"874381a0.19eea","type":"function","z":"a6675467.bd1848","name":"Zone To Topic to MQTT","func":"var reply_msg = msg;\nvar mqtt_msg = null;\n\nif (msg.payload.version == flow.get(\"version\"))\n{\n    var zone_to_topic = flow.get(\"zone_to_topic\");\n    var topic = zone_to_topic[msg.payload.zone];\n    \n    \n    if (typeof topic !== 'undefined')\n    {\n        mqtt_msg = {};\n        mqtt_msg.topic = topic;\n        mqtt_msg.payload = msg.payload.command;\n        reply_msg.payload.reply = \"OK\";\n    }\n    else\n    {\n        reply_msg.payload.reply = \"Error\";\n        reply_msg.payload.zone_to_topic = zone_to_topic;\n    }\n    \n    \n}\nelse\n{\n    reply_msg.payload = {};\n    reply_msg.payload.type = \"reload\";\n}\n\nreturn [mqtt_msg, reply_msg];    ","outputs":2,"noerr":0,"initialize":"","finalize":"","x":670,"y":80,"wires":[["688a5d4e.b21734","14451d25.18b7d3"],["6945a67c.1bb398"]]},{"id":"688a5d4e.b21734","type":"mqtt out","z":"a6675467.bd1848","name":"Channel Command","topic":"","qos":"1","retain":"true","broker":"f6ee7db8.b87","x":970,"y":80,"wires":[]},{"id":"a8a8228f.1a6b2","type":"mqtt in","z":"a6675467.bd1848","name":"Channel Status","topic":"lighting/+/switch/+/state","qos":"1","datatype":"auto","broker":"f6ee7db8.b87","x":480,"y":340,"wires":[["dd80bc3b.67c6c"]]},{"id":"dd80bc3b.67c6c","type":"function","z":"a6675467.bd1848","name":"MQTT To Zone Map","func":"var status_map = flow.get(\"status_map\");\nif (typeof status_map == 'undefined' || status_map === null)\n{\n    status_map = {};\n}\n\n//node.warn(status_map);\n\nvar topic_to_zone = flow.get(\"topic_to_zone\");\nif (typeof topic_to_zone !== 'undefined' && topic_to_zone !== null)\n{\n    if (typeof topic_to_zone[msg.topic] !== 'undefined')\n    {\n        status_map[topic_to_zone[msg.topic]] = msg.payload;\n        flow.set(\"status_map\", status_map);    \n    }\n}\nmsg.payload = {};\nmsg.payload.type = \"status\";\nmsg.payload.status_map = status_map;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":340,"wires":[["6945a67c.1bb398","aa9c3b2b.c3ac18"]]},{"id":"5bd39c5e.9a9cf4","type":"function","z":"a6675467.bd1848","name":"Fetch Status Map","func":"if (msg.payload.version == flow.get(\"version\"))\n{\n    var status_map = flow.get(\"status_map\");\n    if (typeof status_map == 'undefined' || status_map === null)\n    {\n        status_map = {};\n    }\n    \n    msg.payload.type = \"status\";\n    msg.payload.status_map = status_map;\n}\nelse\n{\n    msg.payload = {};\n    msg.payload.type = \"reload\";\n    \n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":670,"y":220,"wires":[["6945a67c.1bb398","7790321c.702e6c"]]},{"id":"14451d25.18b7d3","type":"debug","z":"a6675467.bd1848","name":"Channel Command","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1000,"y":40,"wires":[]},{"id":"2e466ec4.734a72","type":"debug","z":"a6675467.bd1848","name":"Websocket In","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":350,"y":80,"wires":[]},{"id":"116d6e57.ca9402","type":"json","z":"a6675467.bd1848","name":"","property":"payload","action":"","pretty":false,"x":290,"y":200,"wires":[["2fa81901.6daec6","e6f500ba.211b2"]]},{"id":"aa9c3b2b.c3ac18","type":"debug","z":"a6675467.bd1848","name":"Status Map","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":990,"y":360,"wires":[]},{"id":"e6f500ba.211b2","type":"debug","z":"a6675467.bd1848","name":"JSON Message","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":460,"y":280,"wires":[]},{"id":"1e76b6a5.20dfb9","type":"mqtt out","z":"a6675467.bd1848","name":"Status Request","topic":"lighting/status_request","qos":"1","retain":"true","broker":"f6ee7db8.b87","x":800,"y":480,"wires":[]},{"id":"21e6e9b3.a860e6","type":"function","z":"a6675467.bd1848","name":"Saved Status","func":"var status_map = flow.get(\"status_map\");\nif (typeof status_map == 'undefined' || status_map === null)\n{\n    return null;\n}\n\nvar lux_setup_by_lux_sensor = flow.get(\"lux_setup_by_lux_sensor\");\nif (typeof lux_setup_by_lux_sensor == 'undefined' || lux_setup_by_lux_sensor === null)\n{\n    return null;\n}\n\nvar lux_setup = lux_setup_by_lux_sensor[msg.topic];\n\nif (typeof lux_setup == 'undefined' || lux_setup === null)\n{\n    return null;\n}\n\n\nvar first_status = status_map[lux_setup.first_tracked_web_id];\nif (typeof first_status == 'undefined')\n{\n    first_status = 0;\n}\n\nvar second_status = status_map[lux_setup.second_tracked_web_id];\nif (typeof second_status == 'undefined')\n{\n    second_status = 0;\n}\n\nmsg.payload = parseFloat(msg.payload);\nmsg.topic = lux_setup.window_topic;\nmsg.saved_first_status = first_status;\nmsg.saved_second_status = second_status;\nmsg.lux_threshold = parseFloat(global.get(lux_setup[\"lux_sensor_topic\"] + \"_threshold\"));\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":250,"y":740,"wires":[["70a5d645.1bc628"]]},{"id":"73052099.b7bb7","type":"mqtt in","z":"a6675467.bd1848","name":"Lux","topic":"lighting/+/lux","qos":"1","datatype":"auto","broker":"f6ee7db8.b87","x":70,"y":740,"wires":[["21e6e9b3.a860e6","9175744b.811cc8"]]},{"id":"70a5d645.1bc628","type":"function","z":"a6675467.bd1848","name":"Normalize","func":"var normalize_status = function(value)\n{\n    if (typeof(value) == \"undefined\") value = false;\n    else if (value === '0') value = false;\n    else if (value === '1') value = true;\n    else if (typeof value == \"string\")\n    {\n        if (value.toLowerCase() == \"on\") value = true;\n        else if (value.toLowerCase() == \"true\") value = true;\n        else if (value.toLowerCase() == \"high\") value = true;\n        else value = false;\n    }\n    else\n    {\n        value = false;\n    }\n\n    return value;\n}\n\n\nmsg.saved_status = normalize_status(msg.saved_first_status) ||\n                   normalize_status(msg.saved_second_status);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":740,"wires":[["f775dfe9.b2dc1","8f31f94b.d17dd8"]]},{"id":"f775dfe9.b2dc1","type":"switch","z":"a6675467.bd1848","name":"Is On","property":"saved_status","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":740,"wires":[["23eaf149.518b6e","6f6308b7.dce568"],["7f162713.150028"]]},{"id":"23eaf149.518b6e","type":"switch","z":"a6675467.bd1848","name":"Too Dark","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"lux_threshold","vt":"msg"},{"t":"gte","v":"lux_threshold","vt":"msg"}],"checkall":"true","repair":false,"outputs":2,"x":740,"y":720,"wires":[["718027ab.fc68c8"],["7f162713.150028"]]},{"id":"87dc70a6.fe8c1","type":"mqtt out","z":"a6675467.bd1848","name":"Window Row","topic":"","qos":"1","retain":"","broker":"f6ee7db8.b87","x":1070,"y":740,"wires":[]},{"id":"718027ab.fc68c8","type":"change","z":"a6675467.bd1848","name":"On","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":720,"wires":[["87dc70a6.fe8c1","5db20f4b.8274"]]},{"id":"7f162713.150028","type":"change","z":"a6675467.bd1848","name":"Off","rules":[{"t":"set","p":"payload","pt":"msg","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":780,"wires":[["87dc70a6.fe8c1","5db20f4b.8274"]]},{"id":"87d44712.fcada8","type":"function","z":"a6675467.bd1848","name":"Saved Lux & Status","func":"msg.saved_first_status = msg.payload; //TODO this is only one. You have to look up the other.\nmsg.saved_second_status = false;\n\nvar lux_setup_by_tracked_status_topic = flow.get(\"lux_setup_by_tracked_status_topic\");\nif (lux_setup_by_tracked_status_topic === undefined) \n{\n    //node.warn(\"Missing global lux_setup_by_tracked_status_topic object.\");\n    return null;\n}\n\nvar lux_setup = lux_setup_by_tracked_status_topic[msg.topic];\nif (lux_setup === undefined) \n{\n    //node.warn(\"No entry in lux_setup_by_tracked_status_topic for [\" + msg.topic +\"]\");\n    return null;\n}\n\nvar other_topic = lux_setup.first_tracked_topic;\nvar other_web_id = lux_setup.first_tracked_web_id;\nif (other_topic == msg.topic && (\"second_tracked_topic\" in lux_setup))\n{\n    other_topic = lux_setup.second_tracked_topic;\n    other_web_id = lux_setup.second_tracked_web_id;\n    \n     var status_map = flow.get(\"status_map\");\n     if (other_web_id in status_map)\n     {\n         msg.saved_second_status = status_map[other_web_id];\n     }\n}\n    \nvar saved_lux = lux_setup.lux_sensor_topic;\nif (saved_lux === undefined) \n{\n    //node.warn(\"lux_setup doesn't have a lux_sensor_topic property.\");\n    return null;\n}\n\nvar lux = global.get(saved_lux);\nif (lux === undefined) \n{\n    //node.warn(\"There is no saved lux for [\" + saved_lux + \"]\");\n    lux = 0;\n}\n\nmsg.payload = parseFloat(lux);\nmsg.topic = lux_setup.window_topic;\n//node.warn(\"msg.topic: \" + msg.topic);\nmsg.lux_threshold = parseFloat(global.get(lux_setup[\"lux_sensor_topic\"] + \"_threshold\"));\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":820,"wires":[["70a5d645.1bc628","bbf4cf87.e3ea5"]]},{"id":"5db20f4b.8274","type":"debug","z":"a6675467.bd1848","name":"Window Row Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1150,"y":680,"wires":[]},{"id":"e94e6866.674bc8","type":"mqtt in","z":"a6675467.bd1848","name":"Channel Status","topic":"lighting/+/switch/+/state","qos":"1","datatype":"auto","broker":"f6ee7db8.b87","x":100,"y":820,"wires":[["87d44712.fcada8","9ff6fb23.2b0ab8"]]},{"id":"9175744b.811cc8","type":"function","z":"a6675467.bd1848","name":"Save Lux","func":"global.set(msg.topic, msg.payload);\nreturn;","outputs":0,"noerr":0,"initialize":"","finalize":"","x":230,"y":680,"wires":[]},{"id":"bbf4cf87.e3ea5","type":"debug","z":"a6675467.bd1848","name":"lux_threshold","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"lux_threshold","targetType":"msg","statusVal":"","statusType":"auto","x":540,"y":820,"wires":[]},{"id":"8f31f94b.d17dd8","type":"debug","z":"a6675467.bd1848","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"saved_status","targetType":"msg","statusVal":"","statusType":"auto","x":530,"y":640,"wires":[]},{"id":"6f6308b7.dce568","type":"debug","z":"a6675467.bd1848","name":"Is ON","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":750,"y":660,"wires":[]},{"id":"b37320a6.8fcfb","type":"mqtt in","z":"a6675467.bd1848","name":"Lux Threshold","topic":"lighting/+/lux_threshold","qos":"1","datatype":"auto","broker":"f6ee7db8.b87","x":110,"y":900,"wires":[["db986a0f.34c008"]]},{"id":"db986a0f.34c008","type":"function","z":"a6675467.bd1848","name":"Set Lux Threshold","func":"global.set(msg.topic, msg.payload);\n","outputs":0,"noerr":0,"initialize":"","finalize":"","x":350,"y":900,"wires":[]},{"id":"db9cdfb0.c2f47","type":"ui_dropdown","z":"df5f686e.c67618","name":"","label":"Gain","tooltip":"","place":"0","group":"5ad3ee98.2ce85","order":3,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"1.0","value":0,"type":"num"},{"label":"2.0","value":1,"type":"num"},{"label":"0.125","value":2,"type":"num"},{"label":"0.25","value":3,"type":"num"}],"payload":"","topic":"","x":150,"y":260,"wires":[["7c781be2.2b5fa4"]]},{"id":"7c781be2.2b5fa4","type":"mqtt out","z":"df5f686e.c67618","name":"DS1 Gain","topic":"lighting/ds1/gain","qos":"1","retain":"true","broker":"f6ee7db8.b87","x":370,"y":260,"wires":[]},{"id":"ed1c5896.0481f8","type":"ui_dropdown","z":"df5f686e.c67618","name":"","label":"Integration Time","tooltip":"","place":"Select a Time","group":"5ad3ee98.2ce85","order":4,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"100ms","value":0,"type":"num"},{"label":"200ms","value":1,"type":"num"},{"label":"400ms","value":2,"type":"num"},{"label":"800ms","value":3,"type":"num"},{"label":"50ms","value":8,"type":"num"},{"label":"25ms","value":"12","type":"str"}],"payload":"","topic":"","x":120,"y":340,"wires":[["23b9db66.97e754"]]},{"id":"23b9db66.97e754","type":"mqtt out","z":"df5f686e.c67618","name":"DS1 Integration Time","topic":"lighting/ds1/integration","qos":"1","retain":"true","broker":"f6ee7db8.b87","x":400,"y":340,"wires":[]},{"id":"bf8feae2.948ca8","type":"ui_chart","z":"df5f686e.c67618","name":"","group":"5ad3ee98.2ce85","order":1,"width":0,"height":0,"label":"Lux","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"No Data Yet","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":390,"y":60,"wires":[[]]},{"id":"e5afb0f3.4deed","type":"mqtt in","z":"df5f686e.c67618","name":"DS1 Lux","topic":"lighting/ds1/lux","qos":"1","datatype":"auto","broker":"f6ee7db8.b87","x":150,"y":60,"wires":[["bf8feae2.948ca8","4bf7ce24.637a6"]]},{"id":"4bf7ce24.637a6","type":"ui_text","z":"df5f686e.c67618","group":"5ad3ee98.2ce85","order":2,"width":0,"height":0,"name":"","label":"Lux","format":"{{msg.payload}}","layout":"row-spread","x":400,"y":100,"wires":[]},{"id":"58295ded.8abea4","type":"ui_slider","z":"df5f686e.c67618","name":"","label":"Lux Threshold","tooltip":"","group":"5ad3ee98.2ce85","order":5,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","topicType":"str","min":0,"max":"100","step":"5","x":120,"y":180,"wires":[["9bc8f110.910d5"]]},{"id":"9bc8f110.910d5","type":"mqtt out","z":"df5f686e.c67618","name":"DS1 Lux Threshold","topic":"lighting/ds1/lux_threshold","qos":"1","retain":"true","broker":"f6ee7db8.b87","x":390,"y":180,"wires":[]},{"id":"8e84069b.3d1358","type":"ui_numeric","z":"df5f686e.c67618","name":"","label":"Report Period","tooltip":"","group":"5ad3ee98.2ce85","order":4,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}} secs","min":"1","max":"3600","step":1,"x":140,"y":420,"wires":[["577f5e85.0fc7b"]]},{"id":"577f5e85.0fc7b","type":"mqtt out","z":"df5f686e.c67618","name":"DS1 Report Period","topic":"lighting/ds1/report_period","qos":"1","retain":"true","broker":"f6ee7db8.b87","x":390,"y":420,"wires":[]},{"id":"8a410aa7.ea3b98","type":"ui_dropdown","z":"df5f686e.c67618","name":"","label":"Gain","tooltip":"","place":"0","group":"34edc763.8d18c8","order":3,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"1.0","value":0,"type":"num"},{"label":"2.0","value":1,"type":"num"},{"label":"0.125","value":2,"type":"num"},{"label":"0.25","value":3,"type":"num"}],"payload":"","topic":"","x":670,"y":260,"wires":[["6a1e1b8.39146e4"]]},{"id":"6a1e1b8.39146e4","type":"mqtt out","z":"df5f686e.c67618","name":"DS2 Gain","topic":"lighting/ds2/gain","qos":"1","retain":"true","broker":"f6ee7db8.b87","x":890,"y":260,"wires":[]},{"id":"adf7ec42.808a5","type":"ui_dropdown","z":"df5f686e.c67618","name":"","label":"Integration Time","tooltip":"","place":"Select a Time","group":"34edc763.8d18c8","order":4,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"100ms","value":0,"type":"num"},{"label":"200ms","value":1,"type":"num"},{"label":"400ms","value":2,"type":"num"},{"label":"800ms","value":3,"type":"num"},{"label":"50ms","value":8,"type":"num"},{"label":"25ms","value":"12","type":"str"}],"payload":"","topic":"","x":640,"y":340,"wires":[["f8d762a7.099e4"]]},{"id":"f8d762a7.099e4","type":"mqtt out","z":"df5f686e.c67618","name":"DS2 Integration Time","topic":"lighting/ds2/integration","qos":"1","retain":"true","broker":"f6ee7db8.b87","x":920,"y":340,"wires":[]},{"id":"cb78e13c.e512","type":"ui_chart","z":"df5f686e.c67618","name":"","group":"34edc763.8d18c8","order":1,"width":0,"height":0,"label":"Lux","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"No Data Yet","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":910,"y":60,"wires":[[]]},{"id":"19d7e655.d7206a","type":"mqtt in","z":"df5f686e.c67618","name":"DS2 Lux","topic":"lighting/ds2/lux","qos":"1","datatype":"auto","broker":"f6ee7db8.b87","x":670,"y":60,"wires":[["cb78e13c.e512","35a6a5ce.ddf13a"]]},{"id":"35a6a5ce.ddf13a","type":"ui_text","z":"df5f686e.c67618","group":"34edc763.8d18c8","order":2,"width":0,"height":0,"name":"","label":"Lux","format":"{{msg.payload}}","layout":"row-spread","x":920,"y":100,"wires":[]},{"id":"ade25d03.782ef","type":"ui_slider","z":"df5f686e.c67618","name":"","label":"Lux Threshold","tooltip":"","group":"34edc763.8d18c8","order":5,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":0,"max":"100","step":"5","x":640,"y":180,"wires":[["5588d3b.331b62c"]]},{"id":"5588d3b.331b62c","type":"mqtt out","z":"df5f686e.c67618","name":"DS2 Lux Threshold","topic":"lighting/ds2/lux_threshold","qos":"1","retain":"true","broker":"f6ee7db8.b87","x":910,"y":180,"wires":[]},{"id":"41c6fdd3.b72c64","type":"ui_numeric","z":"df5f686e.c67618","name":"","label":"Report Period","tooltip":"","group":"34edc763.8d18c8","order":4,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}} secs","min":"1","max":"3600","step":1,"x":660,"y":420,"wires":[["159fa0a2.ee447f"]]},{"id":"159fa0a2.ee447f","type":"mqtt out","z":"df5f686e.c67618","name":"DS2 Report Period","topic":"lighting/ds2/report_period","qos":"1","retain":"true","broker":"f6ee7db8.b87","x":910,"y":420,"wires":[]},{"id":"7341ea7.d39fd14","type":"ui_dropdown","z":"df5f686e.c67618","name":"","label":"Gain","tooltip":"","place":"0","group":"306a82bd.78ce2e","order":3,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"1.0","value":0,"type":"num"},{"label":"2.0","value":1,"type":"num"},{"label":"0.125","value":2,"type":"num"},{"label":"0.25","value":3,"type":"num"}],"payload":"","topic":"","x":150,"y":760,"wires":[["bc61fb5d.d83618"]]},{"id":"bc61fb5d.d83618","type":"mqtt out","z":"df5f686e.c67618","name":"DS3 Gain","topic":"lighting/ds3/gain","qos":"1","retain":"true","broker":"f6ee7db8.b87","x":370,"y":760,"wires":[]},{"id":"19dbfd46.02ae73","type":"ui_dropdown","z":"df5f686e.c67618","name":"","label":"Integration Time","tooltip":"","place":"Select a Time","group":"306a82bd.78ce2e","order":4,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"100ms","value":0,"type":"num"},{"label":"200ms","value":1,"type":"num"},{"label":"400ms","value":2,"type":"num"},{"label":"800ms","value":3,"type":"num"},{"label":"50ms","value":8,"type":"num"},{"label":"25ms","value":"12","type":"str"}],"payload":"","topic":"","x":120,"y":840,"wires":[["bed655f.c717ea8"]]},{"id":"bed655f.c717ea8","type":"mqtt out","z":"df5f686e.c67618","name":"DS3 Integration Time","topic":"lighting/ds3/integration","qos":"1","retain":"true","broker":"f6ee7db8.b87","x":400,"y":840,"wires":[]},{"id":"162a6c47.158624","type":"ui_chart","z":"df5f686e.c67618","name":"","group":"306a82bd.78ce2e","order":1,"width":0,"height":0,"label":"Lux","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"No Data Yet","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":390,"y":560,"wires":[[]]},{"id":"8904ef29.feccb","type":"mqtt in","z":"df5f686e.c67618","name":"DS3 Lux","topic":"lighting/ds3/lux","qos":"1","datatype":"auto","broker":"f6ee7db8.b87","x":150,"y":560,"wires":[["162a6c47.158624","1ec89704.adef19"]]},{"id":"1ec89704.adef19","type":"ui_text","z":"df5f686e.c67618","group":"306a82bd.78ce2e","order":2,"width":0,"height":0,"name":"","label":"Lux","format":"{{msg.payload}}","layout":"row-spread","x":400,"y":600,"wires":[]},{"id":"f90ca0dd.88198","type":"ui_slider","z":"df5f686e.c67618","name":"","label":"Lux Threshold","tooltip":"","group":"306a82bd.78ce2e","order":5,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":0,"max":"100","step":"5","x":120,"y":680,"wires":[["c90e185d.cbaa98"]]},{"id":"c90e185d.cbaa98","type":"mqtt out","z":"df5f686e.c67618","name":"DS3 Lux Threshold","topic":"lighting/ds3/lux_threshold","qos":"1","retain":"true","broker":"f6ee7db8.b87","x":390,"y":680,"wires":[]},{"id":"287c0031.d4c5","type":"ui_numeric","z":"df5f686e.c67618","name":"","label":"Report Period","tooltip":"","group":"306a82bd.78ce2e","order":4,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}} secs","min":"1","max":"3600","step":1,"x":140,"y":920,"wires":[["2b2fa395.9066ec"]]},{"id":"2b2fa395.9066ec","type":"mqtt out","z":"df5f686e.c67618","name":"DS3 Report Period","topic":"lighting/ds3/report_period","qos":"1","retain":"true","broker":"f6ee7db8.b87","x":390,"y":920,"wires":[]},{"id":"36b0bc6c.8f8c14","type":"ui_dropdown","z":"df5f686e.c67618","name":"","label":"Gain","tooltip":"","place":"0","group":"55992ca2.e73d34","order":3,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"1.0","value":0,"type":"num"},{"label":"2.0","value":1,"type":"num"},{"label":"0.125","value":2,"type":"num"},{"label":"0.25","value":3,"type":"num"}],"payload":"","topic":"","x":670,"y":760,"wires":[["7d9d1cc0.867ed4"]]},{"id":"7d9d1cc0.867ed4","type":"mqtt out","z":"df5f686e.c67618","name":"DS4 Gain","topic":"lighting/ds4/gain","qos":"1","retain":"true","broker":"f6ee7db8.b87","x":890,"y":760,"wires":[]},{"id":"9203bdb2.ca6d6","type":"ui_dropdown","z":"df5f686e.c67618","name":"","label":"Integration Time","tooltip":"","place":"Select a Time","group":"55992ca2.e73d34","order":4,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"100ms","value":0,"type":"num"},{"label":"200ms","value":1,"type":"num"},{"label":"400ms","value":2,"type":"num"},{"label":"800ms","value":3,"type":"num"},{"label":"50ms","value":8,"type":"num"},{"label":"25ms","value":"12","type":"str"}],"payload":"","topic":"","x":640,"y":840,"wires":[["f8a8b22e.7420b"]]},{"id":"f8a8b22e.7420b","type":"mqtt out","z":"df5f686e.c67618","name":"DS4 Integration Time","topic":"lighting/ds4/integration","qos":"1","retain":"true","broker":"f6ee7db8.b87","x":920,"y":840,"wires":[]},{"id":"d0818d74.84ed7","type":"ui_chart","z":"df5f686e.c67618","name":"","group":"55992ca2.e73d34","order":1,"width":0,"height":0,"label":"Lux","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"No Data Yet","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":910,"y":560,"wires":[[]]},{"id":"89a39743.8bd4d8","type":"mqtt in","z":"df5f686e.c67618","name":"DS4 Lux","topic":"lighting/ds4/lux","qos":"1","datatype":"auto","broker":"f6ee7db8.b87","x":670,"y":560,"wires":[["d0818d74.84ed7","34596edb.c25742"]]},{"id":"34596edb.c25742","type":"ui_text","z":"df5f686e.c67618","group":"55992ca2.e73d34","order":2,"width":0,"height":0,"name":"","label":"Lux","format":"{{msg.payload}}","layout":"row-spread","x":920,"y":600,"wires":[]},{"id":"e3ec34bc.493b68","type":"ui_slider","z":"df5f686e.c67618","name":"","label":"Lux Threshold","tooltip":"","group":"55992ca2.e73d34","order":5,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":0,"max":"100","step":"5","x":640,"y":680,"wires":[["c87ddb7.5950828"]]},{"id":"c87ddb7.5950828","type":"mqtt out","z":"df5f686e.c67618","name":"DS4 Lux Threshold","topic":"lighting/ds4/lux_threshold","qos":"1","retain":"true","broker":"f6ee7db8.b87","x":910,"y":680,"wires":[]},{"id":"d3f75c5.9c977a","type":"ui_numeric","z":"df5f686e.c67618","name":"","label":"Report Period","tooltip":"","group":"55992ca2.e73d34","order":4,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}} secs","min":"1","max":"3600","step":1,"x":660,"y":920,"wires":[["14806a2b.5d0496"]]},{"id":"14806a2b.5d0496","type":"mqtt out","z":"df5f686e.c67618","name":"DS4 Report Period","topic":"lighting/ds4/report_period","qos":"1","retain":"true","broker":"f6ee7db8.b87","x":910,"y":920,"wires":[]},{"id":"50ce7a93.9204c4","type":"ui_dropdown","z":"df5f686e.c67618","name":"","label":"Gain","tooltip":"","place":"0","group":"256e3282.15eeae","order":3,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"1.0","value":0,"type":"num"},{"label":"2.0","value":1,"type":"num"},{"label":"0.125","value":2,"type":"num"},{"label":"0.25","value":3,"type":"num"}],"payload":"","topic":"","x":130,"y":1280,"wires":[["4f17f417.64753c"]]},{"id":"4f17f417.64753c","type":"mqtt out","z":"df5f686e.c67618","name":"DS5 Gain","topic":"lighting/ds5/gain","qos":"1","retain":"true","broker":"f6ee7db8.b87","x":350,"y":1280,"wires":[]},{"id":"1457ce18.084702","type":"ui_dropdown","z":"df5f686e.c67618","name":"","label":"Integration Time","tooltip":"","place":"Select a Time","group":"256e3282.15eeae","order":4,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"100ms","value":0,"type":"num"},{"label":"200ms","value":1,"type":"num"},{"label":"400ms","value":2,"type":"num"},{"label":"800ms","value":3,"type":"num"},{"label":"50ms","value":8,"type":"num"},{"label":"25ms","value":"12","type":"str"}],"payload":"","topic":"","x":100,"y":1360,"wires":[["6ee4ebc.55c3e14"]]},{"id":"6ee4ebc.55c3e14","type":"mqtt out","z":"df5f686e.c67618","name":"DS5 Integration Time","topic":"lighting/ds5/integration","qos":"1","retain":"true","broker":"f6ee7db8.b87","x":380,"y":1360,"wires":[]},{"id":"1fa9aa1b.009e26","type":"ui_chart","z":"df5f686e.c67618","name":"","group":"256e3282.15eeae","order":1,"width":0,"height":0,"label":"Lux","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"No Data Yet","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":370,"y":1080,"wires":[[]]},{"id":"6c7e66eb.069f68","type":"mqtt in","z":"df5f686e.c67618","name":"DS5 Lux","topic":"lighting/ds5/lux","qos":"1","datatype":"auto","broker":"f6ee7db8.b87","x":130,"y":1080,"wires":[["1fa9aa1b.009e26","9e4d4f5.5c5f0b"]]},{"id":"9e4d4f5.5c5f0b","type":"ui_text","z":"df5f686e.c67618","group":"256e3282.15eeae","order":2,"width":0,"height":0,"name":"","label":"Lux","format":"{{msg.payload}}","layout":"row-spread","x":380,"y":1120,"wires":[]},{"id":"ea2a411f.77595","type":"ui_slider","z":"df5f686e.c67618","name":"","label":"Lux Threshold","tooltip":"","group":"256e3282.15eeae","order":5,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":0,"max":"100","step":"5","x":100,"y":1200,"wires":[["2be0c191.306a7e"]]},{"id":"2be0c191.306a7e","type":"mqtt out","z":"df5f686e.c67618","name":"DS5 Lux Threshold","topic":"lighting/ds5/lux_threshold","qos":"1","retain":"true","broker":"f6ee7db8.b87","x":370,"y":1200,"wires":[]},{"id":"ca5b8417.586d58","type":"ui_numeric","z":"df5f686e.c67618","name":"","label":"Report Period","tooltip":"","group":"256e3282.15eeae","order":4,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}} secs","min":"1","max":"3600","step":1,"x":120,"y":1440,"wires":[["f2309e27.2525f"]]},{"id":"f2309e27.2525f","type":"mqtt out","z":"df5f686e.c67618","name":"DS5 Report Period","topic":"lighting/ds5/report_period","qos":"1","retain":"true","broker":"f6ee7db8.b87","x":370,"y":1440,"wires":[]},{"id":"7daad48c.05fa8c","type":"ui_dropdown","z":"df5f686e.c67618","name":"","label":"Gain","tooltip":"","place":"0","group":"e992f132.e21bd","order":3,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"1.0","value":0,"type":"num"},{"label":"2.0","value":1,"type":"num"},{"label":"0.125","value":2,"type":"num"},{"label":"0.25","value":3,"type":"num"}],"payload":"","topic":"","x":650,"y":1280,"wires":[["59af31ad.10ca7"]]},{"id":"59af31ad.10ca7","type":"mqtt out","z":"df5f686e.c67618","name":"DS6 Gain","topic":"lighting/ds6/gain","qos":"1","retain":"true","broker":"f6ee7db8.b87","x":870,"y":1280,"wires":[]},{"id":"f85b73b8.c4ada","type":"ui_dropdown","z":"df5f686e.c67618","name":"","label":"Integration Time","tooltip":"","place":"Select a Time","group":"e992f132.e21bd","order":4,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"100ms","value":0,"type":"num"},{"label":"200ms","value":1,"type":"num"},{"label":"400ms","value":2,"type":"num"},{"label":"800ms","value":3,"type":"num"},{"label":"50ms","value":8,"type":"num"},{"label":"25ms","value":"12","type":"str"}],"payload":"","topic":"","x":620,"y":1360,"wires":[["c7a830cc.f09c"]]},{"id":"c7a830cc.f09c","type":"mqtt out","z":"df5f686e.c67618","name":"DS6 Integration Time","topic":"lighting/ds6/integration","qos":"1","retain":"true","broker":"f6ee7db8.b87","x":900,"y":1360,"wires":[]},{"id":"aee19322.76bda","type":"ui_chart","z":"df5f686e.c67618","name":"","group":"e992f132.e21bd","order":1,"width":0,"height":0,"label":"Lux","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"No Data Yet","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":890,"y":1080,"wires":[[]]},{"id":"175710fd.25b81f","type":"mqtt in","z":"df5f686e.c67618","name":"DS6 Lux","topic":"lighting/ds6/lux","qos":"1","datatype":"auto","broker":"f6ee7db8.b87","x":650,"y":1080,"wires":[["aee19322.76bda","23a53535.042f2a"]]},{"id":"23a53535.042f2a","type":"ui_text","z":"df5f686e.c67618","group":"e992f132.e21bd","order":2,"width":0,"height":0,"name":"","label":"Lux","format":"{{msg.payload}}","layout":"row-spread","x":900,"y":1120,"wires":[]},{"id":"52641acd.d9e6c4","type":"ui_slider","z":"df5f686e.c67618","name":"","label":"Lux Threshold","tooltip":"","group":"e992f132.e21bd","order":5,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":0,"max":"100","step":"5","x":620,"y":1200,"wires":[["589e1853.658098"]]},{"id":"589e1853.658098","type":"mqtt out","z":"df5f686e.c67618","name":"DS6 Lux Threshold","topic":"lighting/ds6/lux_threshold","qos":"1","retain":"true","broker":"f6ee7db8.b87","x":890,"y":1200,"wires":[]},{"id":"f6fc53f8.15abc","type":"ui_numeric","z":"df5f686e.c67618","name":"","label":"Report Period","tooltip":"","group":"e992f132.e21bd","order":4,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}} secs","min":"1","max":"3600","step":1,"x":640,"y":1440,"wires":[["ab13e40b.38dd68"]]},{"id":"ab13e40b.38dd68","type":"mqtt out","z":"df5f686e.c67618","name":"DS6 Report Period","topic":"lighting/ds6/report_period","qos":"1","retain":"true","broker":"f6ee7db8.b87","x":890,"y":1440,"wires":[]},{"id":"267982f8.05be2e","type":"ui_dropdown","z":"df5f686e.c67618","name":"","label":"Gain","tooltip":"","place":"0","group":"54e4ff30.dbd08","order":3,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"1.0","value":0,"type":"num"},{"label":"2.0","value":1,"type":"num"},{"label":"0.125","value":2,"type":"num"},{"label":"0.25","value":3,"type":"num"}],"payload":"","topic":"","x":130,"y":1780,"wires":[["109d633c.dde98d"]]},{"id":"109d633c.dde98d","type":"mqtt out","z":"df5f686e.c67618","name":"DS7 Gain","topic":"lighting/ds7/gain","qos":"1","retain":"true","broker":"f6ee7db8.b87","x":350,"y":1780,"wires":[]},{"id":"5a32e0da.5201e","type":"ui_dropdown","z":"df5f686e.c67618","name":"","label":"Integration Time","tooltip":"","place":"Select a Time","group":"54e4ff30.dbd08","order":4,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"100ms","value":0,"type":"num"},{"label":"200ms","value":1,"type":"num"},{"label":"400ms","value":2,"type":"num"},{"label":"800ms","value":3,"type":"num"},{"label":"50ms","value":8,"type":"num"},{"label":"25ms","value":"12","type":"str"}],"payload":"","topic":"","x":100,"y":1860,"wires":[["f9dd4b66.ebfe38"]]},{"id":"f9dd4b66.ebfe38","type":"mqtt out","z":"df5f686e.c67618","name":"DS7 Integration Time","topic":"lighting/ds7/integration","qos":"1","retain":"true","broker":"f6ee7db8.b87","x":380,"y":1860,"wires":[]},{"id":"25f6b90d.0c9036","type":"ui_chart","z":"df5f686e.c67618","name":"","group":"54e4ff30.dbd08","order":1,"width":0,"height":0,"label":"Lux","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"No Data Yet","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":370,"y":1580,"wires":[[]]},{"id":"e4c73871.f480c8","type":"mqtt in","z":"df5f686e.c67618","name":"DS7 Lux","topic":"lighting/ds7/lux","qos":"1","datatype":"auto","broker":"f6ee7db8.b87","x":130,"y":1580,"wires":[["25f6b90d.0c9036","93c296a6.532c58"]]},{"id":"93c296a6.532c58","type":"ui_text","z":"df5f686e.c67618","group":"54e4ff30.dbd08","order":2,"width":0,"height":0,"name":"","label":"Lux","format":"{{msg.payload}}","layout":"row-spread","x":380,"y":1620,"wires":[]},{"id":"5bd6885a.4a63c8","type":"ui_slider","z":"df5f686e.c67618","name":"","label":"Lux Threshold","tooltip":"","group":"54e4ff30.dbd08","order":5,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":0,"max":"100","step":"5","x":100,"y":1700,"wires":[["5fd399c.cc89b68"]]},{"id":"5fd399c.cc89b68","type":"mqtt out","z":"df5f686e.c67618","name":"DS7 Lux Threshold","topic":"lighting/ds7/lux_threshold","qos":"1","retain":"true","broker":"f6ee7db8.b87","x":370,"y":1700,"wires":[]},{"id":"5c1b5205.057e4c","type":"ui_numeric","z":"df5f686e.c67618","name":"","label":"Report Period","tooltip":"","group":"54e4ff30.dbd08","order":4,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}} secs","min":"1","max":"3600","step":1,"x":120,"y":1940,"wires":[["625a7c78.161b94"]]},{"id":"625a7c78.161b94","type":"mqtt out","z":"df5f686e.c67618","name":"DS7 Report Period","topic":"lighting/ds7/report_period","qos":"1","retain":"true","broker":"f6ee7db8.b87","x":370,"y":1940,"wires":[]},{"id":"b7b8cab1.813788","type":"ui_switch","z":"ab5052ac.9654","name":"","label":"1st Floor Cubical Even Rows","tooltip":"Click to Toggle","group":"be494189.bf889","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","animate":false,"x":300,"y":180,"wires":[["efc4a9b.00eab58"]]},{"id":"efc4a9b.00eab58","type":"mqtt out","z":"ab5052ac.9654","name":"1A_2","topic":"lighting/panel_1a/switch/channel_2/command","qos":"1","retain":"","broker":"f6ee7db8.b87","x":510,"y":180,"wires":[]},{"id":"3e688b1a.d256a4","type":"ui_switch","z":"ab5052ac.9654","name":"","label":"1st Floor Cubical Odd Rows","tooltip":"Click to Toggle","group":"be494189.bf889","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","animate":false,"x":300,"y":120,"wires":[["6d5345cf.1fbd0c"]]},{"id":"6d5345cf.1fbd0c","type":"mqtt out","z":"ab5052ac.9654","name":"1A_3","topic":"lighting/panel_1a/switch/channel_3/command","qos":"1","retain":"","broker":"f6ee7db8.b87","x":510,"y":120,"wires":[]},{"id":"60a2177d.0ab068","type":"ui_switch","z":"ab5052ac.9654","name":"","label":"Craft Lab Even Rows","tooltip":"Click to Toggle","group":"70c7f6b4.3fa848","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","animate":false,"x":280,"y":320,"wires":[["f0d6e63e.cdb538"]]},{"id":"f0d6e63e.cdb538","type":"mqtt out","z":"ab5052ac.9654","name":"1A_4","topic":"lighting/panel_1a/switch/channel_4/command","qos":"1","retain":"","broker":"f6ee7db8.b87","x":510,"y":320,"wires":[]},{"id":"6cd19bf9.dd73d4","type":"ui_switch","z":"ab5052ac.9654","name":"","label":"Craft Lab Odd Rows","tooltip":"Click to Toggle","group":"70c7f6b4.3fa848","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","animate":false,"x":280,"y":260,"wires":[["72dd13de.4162ec"]]},{"id":"72dd13de.4162ec","type":"mqtt out","z":"ab5052ac.9654","name":"1A_6","topic":"lighting/panel_1a/switch/channel_6/command","qos":"1","retain":"","broker":"f6ee7db8.b87","x":510,"y":260,"wires":[]},{"id":"fe39293.f4dd9d8","type":"ui_switch","z":"ab5052ac.9654","name":"","label":"Meeting Room Even Rows","tooltip":"Click to Toggle","group":"1990ef0.1f1c611","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","animate":false,"x":300,"y":460,"wires":[["8ab71c91.591de"]]},{"id":"8ab71c91.591de","type":"mqtt out","z":"ab5052ac.9654","name":"1A_9","topic":"lighting/panel_1a/switch/channel_9/command","qos":"1","retain":"","broker":"f6ee7db8.b87","x":510,"y":460,"wires":[]},{"id":"60e6c7cc.032fb8","type":"ui_switch","z":"ab5052ac.9654","name":"","label":"Meeting Room Odd Rows","tooltip":"Click to Toggle","group":"1990ef0.1f1c611","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","animate":false,"x":290,"y":400,"wires":[["2edbcd89.e5ebf2"]]},{"id":"2edbcd89.e5ebf2","type":"mqtt out","z":"ab5052ac.9654","name":"1A_8","topic":"lighting/panel_1a/switch/channel_8/command","qos":"1","retain":"","broker":"f6ee7db8.b87","x":510,"y":400,"wires":[]},{"id":"9f0bf463.582ed8","type":"ui_switch","z":"ab5052ac.9654","name":"","label":"South Basement","tooltip":"Click to Toggle","group":"8466f6ed.f1bca8","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","animate":false,"x":270,"y":620,"wires":[["d9e24167.7c28f"]]},{"id":"d9e24167.7c28f","type":"mqtt out","z":"ab5052ac.9654","name":"1A_11","topic":"lighting/panel_1a/switch/channel_11/command","qos":"1","retain":"","broker":"f6ee7db8.b87","x":510,"y":620,"wires":[]},{"id":"ea6f1759.229318","type":"ui_switch","z":"ab5052ac.9654","name":"","label":"North Basement","tooltip":"Click to Toggle","group":"8466f6ed.f1bca8","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","animate":false,"x":260,"y":560,"wires":[["aa8e5932.5b9f88"]]},{"id":"aa8e5932.5b9f88","type":"mqtt out","z":"ab5052ac.9654","name":"1A_10","topic":"lighting/panel_1a/switch/channel_10/command","qos":"1","retain":"","broker":"f6ee7db8.b87","x":510,"y":560,"wires":[]},{"id":"7f2ff318.06ec0c","type":"ui_switch","z":"ab5052ac.9654","name":"","label":"West Bay Even Rows","tooltip":"Click to Toggle","group":"41d597bb.404f28","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","animate":false,"x":720,"y":240,"wires":[["f44e99d5.d168e8"]]},{"id":"b2ad2aa7.763408","type":"mqtt out","z":"ab5052ac.9654","name":"1B_2","topic":"lighting/panel_1b/switch/channel_2/command","qos":"1","retain":"","broker":"f6ee7db8.b87","x":950,"y":180,"wires":[]},{"id":"2f8833c4.e590fc","type":"ui_switch","z":"ab5052ac.9654","name":"","label":"West Bay Odd Rows","tooltip":"Click to Toggle","group":"41d597bb.404f28","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","animate":false,"x":720,"y":180,"wires":[["b2ad2aa7.763408"]]},{"id":"11f8931a.a9912d","type":"mqtt out","z":"ab5052ac.9654","name":"1B_1","topic":"lighting/panel_1b/switch/channel_1/command","qos":"1","retain":"","broker":"f6ee7db8.b87","x":950,"y":120,"wires":[]},{"id":"172f247f.2666ac","type":"ui_switch","z":"ab5052ac.9654","name":"","label":"Mid Bay North","tooltip":"Click to Toggle","group":"69c278a.d6ee088","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","animate":false,"x":700,"y":360,"wires":[["d4a51d35.4de28"]]},{"id":"3c944351.c8d6fc","type":"mqtt out","z":"ab5052ac.9654","name":"1B_6","topic":"lighting/panel_1b/switch/channel_6/command","qos":"1","retain":"","broker":"f6ee7db8.b87","x":950,"y":420,"wires":[]},{"id":"72a03ab2.c3f054","type":"ui_switch","z":"ab5052ac.9654","name":"","label":"Mid Bay South","tooltip":"Click to Toggle","group":"69c278a.d6ee088","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","animate":false,"x":700,"y":300,"wires":[["c3d8323d.20a96"]]},{"id":"d4a51d35.4de28","type":"mqtt out","z":"ab5052ac.9654","name":"1B_5","topic":"lighting/panel_1b/switch/channel_5/command","qos":"1","retain":"","broker":"f6ee7db8.b87","x":950,"y":360,"wires":[]},{"id":"fef3b7d7.39fc68","type":"ui_switch","z":"ab5052ac.9654","name":"","label":"East Bay South","tooltip":"Click to Toggle","group":"21c4b52e.84c69a","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","animate":false,"x":700,"y":480,"wires":[["63c98f9f.5336f"]]},{"id":"6cc74348.efcd0c","type":"mqtt out","z":"ab5052ac.9654","name":"1B_10","topic":"lighting/panel_1b/switch/channel_10/command","qos":"1","retain":"","broker":"f6ee7db8.b87","x":950,"y":660,"wires":[]},{"id":"b6518049.142a2","type":"ui_switch","z":"ab5052ac.9654","name":"","label":"East Bay North","tooltip":"Click to Toggle","group":"21c4b52e.84c69a","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","animate":false,"x":700,"y":420,"wires":[["3c944351.c8d6fc"]]},{"id":"d970f007.f34bd","type":"mqtt out","z":"ab5052ac.9654","name":"1B_9","topic":"lighting/panel_1b/switch/channel_9/command","qos":"1","retain":"","broker":"f6ee7db8.b87","x":950,"y":600,"wires":[]},{"id":"de23d7ab.270d58","type":"ui_switch","z":"ab5052ac.9654","name":"","label":"Even Rows","tooltip":"Click to Toggle","group":"e13371b5.6cc3a","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","animate":false,"x":1130,"y":840,"wires":[["bddff.0e3da202"]]},{"id":"482a0db2.3a9244","type":"mqtt out","z":"ab5052ac.9654","name":"1C_2","topic":"lighting/panel_1c/switch/channel_2/command","qos":"1","retain":"","broker":"f6ee7db8.b87","x":1390,"y":180,"wires":[]},{"id":"19b05520.59d7cb","type":"ui_switch","z":"ab5052ac.9654","name":"","label":"Odd Rows","tooltip":"Click to Toggle","group":"e13371b5.6cc3a","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","animate":false,"x":1130,"y":780,"wires":[["bc2c1f87.7af5b"]]},{"id":"9a24f997.e2eee8","type":"mqtt out","z":"ab5052ac.9654","name":"1C_1","topic":"lighting/panel_1c/switch/channel_1/command","qos":"1","retain":"","broker":"f6ee7db8.b87","x":1390,"y":120,"wires":[]},{"id":"dc6a0537.47ccd8","type":"mqtt out","z":"ab5052ac.9654","name":"1C_6","topic":"lighting/panel_1c/switch/channel_6/command","qos":"1","retain":"","broker":"f6ee7db8.b87","x":1390,"y":420,"wires":[]},{"id":"c9402205.ab935","type":"ui_switch","z":"ab5052ac.9654","name":"","label":"Odd Rows","tooltip":"Click to Toggle","group":"78e17c6.f3ea684","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","animate":false,"x":1130,"y":120,"wires":[["9a24f997.e2eee8"]]},{"id":"39c4be5a.a362d2","type":"mqtt out","z":"ab5052ac.9654","name":"1C_5","topic":"lighting/panel_1c/switch/channel_5/command","qos":"1","retain":"","broker":"f6ee7db8.b87","x":1390,"y":360,"wires":[]},{"id":"ecf2706a.710eb","type":"mqtt out","z":"ab5052ac.9654","name":"1C_8","topic":"lighting/panel_1c/switch/channel_8/command","qos":"1","retain":"","broker":"f6ee7db8.b87","x":1390,"y":540,"wires":[]},{"id":"41d1469d.766518","type":"ui_switch","z":"ab5052ac.9654","name":"","label":"Odd Rows","tooltip":"Click to Toggle","group":"d3e37306.9d351","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","animate":false,"x":1130,"y":360,"wires":[["39c4be5a.a362d2"]]},{"id":"c8fb0ecb.e7e26","type":"mqtt out","z":"ab5052ac.9654","name":"1C_7","topic":"lighting/panel_1c/switch/channel_7/command","qos":"1","retain":"","broker":"f6ee7db8.b87","x":1390,"y":480,"wires":[]},{"id":"5dc32e8b.5cab7","type":"ui_switch","z":"ab5052ac.9654","name":"","label":"Even Rows","tooltip":"Click to Toggle","group":"ebbe332e.0cc5e","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","animate":false,"x":1130,"y":600,"wires":[["c0d01390.3d889"]]},{"id":"4f752aeb.c89264","type":"mqtt out","z":"ab5052ac.9654","name":"1C_10","topic":"lighting/panel_1c/switch/channel_10/command","qos":"1","retain":"","broker":"f6ee7db8.b87","x":1390,"y":660,"wires":[]},{"id":"485a16b6.8fdd18","type":"ui_switch","z":"ab5052ac.9654","name":"","label":"Odd Rows","tooltip":"Click to Toggle","group":"ebbe332e.0cc5e","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","animate":false,"x":1130,"y":660,"wires":[["4f752aeb.c89264"]]},{"id":"c0d01390.3d889","type":"mqtt out","z":"ab5052ac.9654","name":"1C_9","topic":"lighting/panel_1c/switch/channel_9/command","qos":"1","retain":"","broker":"f6ee7db8.b87","x":1390,"y":600,"wires":[]},{"id":"c6ec0815.726358","type":"ui_switch","z":"ab5052ac.9654","name":"","label":"2nd Floor Cubical Even Rows","tooltip":"Click to Toggle","group":"bdca7b8f.9d6458","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","animate":false,"x":1630,"y":180,"wires":[["7ca3d92.d5b6928"]]},{"id":"7ca3d92.d5b6928","type":"mqtt out","z":"ab5052ac.9654","name":"2A_2","topic":"lighting/panel_2a/switch/channel_2/command","qos":"1","retain":"","broker":"f6ee7db8.b87","x":1850,"y":180,"wires":[]},{"id":"bb16f0f4.a634d","type":"ui_switch","z":"ab5052ac.9654","name":"","label":"2nd Floor Cubical Odd Rows","tooltip":"Click to Toggle","group":"bdca7b8f.9d6458","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","animate":false,"x":1620,"y":120,"wires":[["43bda1ff.7ea81"]]},{"id":"43bda1ff.7ea81","type":"mqtt out","z":"ab5052ac.9654","name":"2A_1","topic":"lighting/panel_2a/switch/channel_1/command","qos":"1","retain":"","broker":"f6ee7db8.b87","x":1850,"y":120,"wires":[]},{"id":"d0ffc792.b48998","type":"mqtt out","z":"a6675467.bd1848","name":"Heart Beat","topic":"lighting/heartbeat","qos":"0","retain":"false","broker":"f6ee7db8.b87","x":1217,"y":941,"wires":[]},{"id":"377f18fe.73f9e8","type":"inject","z":"a6675467.bd1848","name":"Heartbeat","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"2","crontab":"","once":false,"onceDelay":0.1,"topic":"lighting/heartbeat","payload":"","payloadType":"date","x":970,"y":940,"wires":[["d0ffc792.b48998"]]},{"id":"9ff6fb23.2b0ab8","type":"debug","z":"a6675467.bd1848","name":"Channel Status","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":260,"y":780,"wires":[]},{"id":"7790321c.702e6c","type":"debug","z":"a6675467.bd1848","name":"Status Map","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1040,"y":280,"wires":[]},{"id":"b7d1a940.51d8d8","type":"mqtt in","z":"3716e5ea.d2b03a","name":"Panel 1A Logs","topic":"lighting/panel_1a/+","qos":"2","datatype":"utf8","broker":"f6ee7db8.b87","x":150,"y":220,"wires":[["572c5318.7d949c"]]},{"id":"7b8a37d9.c68e58","type":"file","z":"3716e5ea.d2b03a","name":"Panel 1A Log FIle","filename":"/root/.node-red/mcu_logs/panel_1a.log","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":630,"y":220,"wires":[[]]},{"id":"9cca3c40.ac9e","type":"debug","z":"3716e5ea.d2b03a","name":"Log mesages","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":620,"y":300,"wires":[]},{"id":"572c5318.7d949c","type":"function","z":"3716e5ea.d2b03a","name":"Prepend Time","func":"var n = Date()\nlet options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };\nmsg.payload = \"[\" + n.toLocaleString() + \"]\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":220,"wires":[["7b8a37d9.c68e58","9cca3c40.ac9e"]]},{"id":"c3d8323d.20a96","type":"mqtt out","z":"ab5052ac.9654","name":"1B_4","topic":"lighting/panel_1b/switch/channel_4/command","qos":"1","retain":"","broker":"f6ee7db8.b87","x":950,"y":300,"wires":[]},{"id":"f44e99d5.d168e8","type":"mqtt out","z":"ab5052ac.9654","name":"1B_3","topic":"lighting/panel_1b/switch/channel_3/command","qos":"1","retain":"","broker":"f6ee7db8.b87","x":950,"y":240,"wires":[]},{"id":"1b48a382.b5ee1c","type":"mqtt out","z":"ab5052ac.9654","name":"1B_8","topic":"lighting/panel_1b/switch/channel_8/command","qos":"1","retain":"","broker":"f6ee7db8.b87","x":950,"y":540,"wires":[]},{"id":"63c98f9f.5336f","type":"mqtt out","z":"ab5052ac.9654","name":"1B_7","topic":"lighting/panel_1b/switch/channel_7/command","qos":"1","retain":"","broker":"f6ee7db8.b87","x":950,"y":480,"wires":[]},{"id":"91863cd1.580bb","type":"ui_switch","z":"ab5052ac.9654","name":"","label":"Ailsle Rows","tooltip":"Click to Toggle","group":"41d597bb.404f28","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","animate":false,"x":690,"y":120,"wires":[["11f8931a.a9912d"]]},{"id":"55ef5c79.2f96b4","type":"mqtt out","z":"ab5052ac.9654","name":"1C_4","topic":"lighting/panel_1c/switch/channel_4/command","qos":"1","retain":"","broker":"f6ee7db8.b87","x":1390,"y":300,"wires":[]},{"id":"d24a0887.f1c9e8","type":"mqtt out","z":"ab5052ac.9654","name":"1C_3","topic":"lighting/panel_1c/switch/channel_3/command","qos":"1","retain":"","broker":"f6ee7db8.b87","x":1390,"y":240,"wires":[]},{"id":"68d6f8c5.2dab78","type":"mqtt out","z":"ab5052ac.9654","name":"1C_11","topic":"lighting/panel_1c/switch/channel_11/command","qos":"1","retain":"","broker":"f6ee7db8.b87","x":1390,"y":720,"wires":[]},{"id":"ba0d30cf.2f245","type":"ui_switch","z":"ab5052ac.9654","name":"","label":"Odd Rows","tooltip":"Click to Toggle","group":"189e1deb.7d0c02","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","animate":false,"x":1130,"y":180,"wires":[["482a0db2.3a9244"]]},{"id":"8410d96d.74b3c8","type":"ui_switch","z":"ab5052ac.9654","name":"","label":"Even Rows","tooltip":"Click to Toggle","group":"78e17c6.f3ea684","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","animate":false,"x":1130,"y":240,"wires":[["d24a0887.f1c9e8"]]},{"id":"74ece5b.0aa761c","type":"ui_switch","z":"ab5052ac.9654","name":"","label":"Even Rows","tooltip":"Click to Toggle","group":"189e1deb.7d0c02","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","animate":false,"x":1130,"y":300,"wires":[["55ef5c79.2f96b4"]]},{"id":"beeb56bc.d9d248","type":"ui_switch","z":"ab5052ac.9654","name":"","label":"Odd Rows","tooltip":"Click to Toggle","group":"f554b1b8.a2cd4","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","animate":false,"x":1130,"y":420,"wires":[["dc6a0537.47ccd8"]]},{"id":"a504e35d.3bcd7","type":"ui_switch","z":"ab5052ac.9654","name":"","label":"Even Rows","tooltip":"Click to Toggle","group":"d3e37306.9d351","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","animate":false,"x":1130,"y":480,"wires":[["c8fb0ecb.e7e26"]]},{"id":"92e4f2c8.6e432","type":"ui_switch","z":"ab5052ac.9654","name":"","label":"Even Rows","tooltip":"Click to Toggle","group":"f554b1b8.a2cd4","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","animate":false,"x":1130,"y":540,"wires":[["ecf2706a.710eb"]]},{"id":"bc2c1f87.7af5b","type":"mqtt out","z":"ab5052ac.9654","name":"1C_12","topic":"lighting/panel_1c/switch/channel_12/command","qos":"1","retain":"","broker":"f6ee7db8.b87","x":1390,"y":780,"wires":[]},{"id":"bddff.0e3da202","type":"mqtt out","z":"ab5052ac.9654","name":"1C_13","topic":"lighting/panel_1c/switch/channel_13/command","qos":"1","retain":"","broker":"f6ee7db8.b87","x":1390,"y":840,"wires":[]},{"id":"e8937d43.87056","type":"mqtt in","z":"f5d8069b.c88ee8","name":"Channel Status","topic":"lighting/+/switch/+/state","qos":"1","datatype":"auto","broker":"f6ee7db8.b87","x":180,"y":260,"wires":[["206230ee.c1ec8","22d810d9.79e4b"]]},{"id":"889ce43e.bc1718","type":"inject","z":"f5d8069b.c88ee8","name":"Run at start","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"filename","v":"/root/.node-red/mms_config/Button_Mapping.csv","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":80,"wires":[["5929e75d.d8b658","f9e5046f.58db08"]]},{"id":"5929e75d.d8b658","type":"mqtt out","z":"f5d8069b.c88ee8","name":"Status Request","topic":"lighting/status_request","qos":"1","retain":"true","broker":"f6ee7db8.b87","x":460,"y":80,"wires":[]},{"id":"206230ee.c1ec8","type":"function","z":"f5d8069b.c88ee8","name":"Save Status","func":"var status_map = flow.get(\"status_map\");\n\nif (typeof status_map == 'undefined' || status_map === null)\n{\n    status_map = {};\n}\n\nstatus_map[msg.topic] = msg.payload;\nflow.set(\"status_map\", status_map);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":340,"wires":[["5e06a9cf.552a58"]]},{"id":"384d5450.7d3acc","type":"watch","z":"f5d8069b.c88ee8","name":"Watch Button Map","files":"/root/.node-red/mms_config/Button_Mapping.csv","recursive":"","x":190,"y":160,"wires":[["f9e5046f.58db08"]]},{"id":"f9e5046f.58db08","type":"file in","z":"f5d8069b.c88ee8","name":"Read Channel Map","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":430,"y":160,"wires":[["be6b06ff.c80158"]]},{"id":"be6b06ff.c80158","type":"csv","z":"f5d8069b.c88ee8","name":"Parse","sep":",","hdrin":true,"hdrout":"none","multi":"mult","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":630,"y":160,"wires":[["822a898b.c72758"]]},{"id":"822a898b.c72758","type":"function","z":"f5d8069b.c88ee8","name":"Set Flow Context","func":"var count = msg.payload.length;\nvar button_map = msg.payload;\nvar button_to_channel ={};\nvar channel_to_button = {};\nfor(i = 0; i < count; ++i)\n{\n    if (\"Button_Device_MQTT_Prefix\" in button_map[i])\n    {\n        var button_mqtt = button_map[i][\"Button_Device_MQTT_Prefix\"]+\n          \"/button_\"+\n          button_map[i][\"Button\"];\n\t\tvar button_light_mqtt = button_mqtt + \"_state\";\n        var channel_a_cmd = button_map[i][\"Channel_A_MQTT_Prefix\"];\n        var channel_b_cmd = button_map[i][\"Channel_B_MQTT_Prefix\"];\n\t\tvar channel_a_sts = button_map[i][\"Channel_A_MQTT_Prefix\"];\n        var channel_b_sts = button_map[i][\"Channel_B_MQTT_Prefix\"];\n        \n        if (typeof channel_a_cmd == \"string\" && channel_a_cmd.length > 0)\n        {\n            channel_a_cmd += \"/command\";\n\t\t\tchannel_a_sts += \"/state\";\n        }\n        else\n        {\n            channel_a_cmd = null;\n\t\t\tchannel_a_sts = null;\n        }\n        \n        if (typeof channel_b_cmd == \"string\" && channel_b_cmd.length > 0)\n        {\n            channel_b_cmd += \"/command\";\n\t\t\tchannel_b_sts += \"/state\";\n        }\n        else\n        {\n            channel_b_cmd = null;\n\t\t\tchannel_b_sts = null;\n        }\n        \n        var button_to_channel_entry = {};\n        button_to_channel_entry[\"button_mqtt\"] = button_mqtt;\n        button_to_channel_entry[\"channel_a\"] = channel_a_cmd;\n        button_to_channel_entry[\"channel_b\"] = channel_b_cmd;\n        button_to_channel[button_mqtt] = button_to_channel_entry;\n\t\t\n\t\tvar channel_a_to_button_entry = null;\n\t\tif (channel_a_sts != null)\n\t\t{\n\t\t\tif (channel_a_sts in channel_to_button)\n\t\t\t{\n\t\t\t\tchannel_a_to_button_entry = channel_to_button[channel_a_sts];\n\t\t\t}\n\t\t\telse\n\t\t\t{\n\t\t\t\tchannel_a_to_button_entry = {};\n\t\t\t\tchannel_a_to_button_entry.button_lights = [];\n\t\t\t\tchannel_to_button[channel_a_sts] = channel_a_to_button_entry;\n\t\t\t}\n\t\t\t\n\t\t\tchannel_a_to_button_entry.button_lights.push(button_light_mqtt);\n\t\t\tchannel_a_to_button_entry.a_sts = channel_a_sts;\n\t\t\tif (channel_b_sts != null) channel_a_to_button_entry.b_sts = channel_b_sts;\n\t\t}\n\t\t\n\t\tvar channel_b_to_button_entry = null;\n\t\tif (channel_b_sts != null)\n\t\t{\n\t\t\t\n\t\t\tif (channel_b_sts in channel_to_button)\n\t\t\t{\n\t\t\t\tchannel_b_to_button_entry = channel_to_button[channel_b_sts];\n\t\t\t}\n\t\t\telse\n\t\t\t{\n\t\t\t\tchannel_b_to_button_entry = {};\n\t\t\t\tchannel_b_to_button_entry.button_lights = [];\n\t\t\t\tchannel_to_button[channel_b_sts] = channel_b_to_button_entry;\n\t\t\t}\n\t\t\t\n\t\t\tchannel_b_to_button_entry.button_lights.push(button_light_mqtt);\n\t\t\tchannel_b_to_button_entry.b_sts = channel_b_sts;\n\t\t\tif (channel_a_sts != null) channel_b_to_button_entry.a_sts = channel_a_sts;\n\t\t}\n    }\n}\n\nflow.set(\"button_to_channel\", button_to_channel);\nflow.set(\"channel_to_button\", channel_to_button);","outputs":0,"noerr":0,"initialize":"","finalize":"","x":840,"y":160,"wires":[]},{"id":"4765fe.b6851a04","type":"mqtt in","z":"f5d8069b.c88ee8","name":"button_a","topic":"lighting/buttons/+/button_a","qos":"1","datatype":"utf8","broker":"f6ee7db8.b87","x":160,"y":460,"wires":[["553210ef.431a9","3b360adb.3b2c46"]]},{"id":"553210ef.431a9","type":"function","z":"f5d8069b.c88ee8","name":"Lookup Command and Status","func":"var button_to_channel = flow.get(\"button_to_channel\");\nif (button_to_channel === undefined) \n{\n    node.warn(\"There is no button_to_channel map\");\n    return null;\n}\n\nvar status_map = flow.get(\"status_map\");\nif (status_map === undefined)\n{\n    node.warn(\"There is no status map\");\n    return null;\n}\n\nif (msg.topic in button_to_channel)\n{\n    var map_entry = button_to_channel[msg.topic];\n    if (\"channel_a\" in map_entry)\n    {\n        var status_a_topic = \n\t      map_entry[\"channel_a\"].replace(\"command\", \"state\");\n\t    var current_a_status = status_map[status_a_topic];\n\t    msg[\"channel_a\"] = {};\n\t    msg[\"channel_a\"][\"command\"] = map_entry[\"channel_a\"];\n\t    msg[\"channel_a\"][\"current_status\"] = current_a_status;\n    }\n    if (\"channel_b\" in map_entry)\n    {\n        var status_b_topic = \n\t      map_entry[\"channel_b\"].replace(\"command\", \"state\");\n\t    var current_b_status = status_map[status_b_topic];\n\t    msg[\"channel_b\"] = {};\n\t    msg[\"channel_b\"][\"command\"] = map_entry[\"channel_b\"];\n\t    msg[\"channel_b\"][\"current_status\"] = current_b_status;\n    }\n}\nelse\n{\n    node.warn(\"Unmapped button: \" + msg.topic);\n    node.warn(button_to_channel);\n    return null;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":460,"wires":[["63ce7d16.aaa134"]]},{"id":"63ce7d16.aaa134","type":"function","z":"f5d8069b.c88ee8","name":"Prepare Commands","func":"var status = false;\nif (\"channel_a\" in msg)\n{\n    status = status || (msg[\"channel_a\"][\"current_status\"] == \"ON\" ? true : false);\n}\nif (\"channel_b\" in msg)\n{\n    status = status || (msg[\"channel_b\"][\"current_status\"] == \"ON\" ? true : false);\n}\n\nvar cmd = !status;\nvar msg_a = null;\nvar msg_b = null;\nnode.warn(msg);\nif (\"channel_a\" in msg)\n{\n    msg_a = {};\n    msg_a[\"topic\"] = msg[\"channel_a\"][\"command\"];\n    msg_a[\"payload\"] = cmd ? \"ON\" : \"OFF\";\n}\nif (\"channel_b\" in msg)\n{\n    msg_b = {};\n    msg_b[\"topic\"] = msg[\"channel_b\"][\"command\"];\n    msg_b[\"payload\"]  = cmd ? \"ON\" : \"OFF\";\n}\n\nreturn [msg_a, msg_b];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":640,"y":460,"wires":[["1f99a86f.da3078"],["1f99a86f.da3078"]]},{"id":"1f99a86f.da3078","type":"mqtt out","z":"f5d8069b.c88ee8","name":"Button Command","topic":"","qos":"2","retain":"true","broker":"f6ee7db8.b87","x":870,"y":460,"wires":[]},{"id":"3b360adb.3b2c46","type":"debug","z":"f5d8069b.c88ee8","name":"Button Pubs","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":340,"y":420,"wires":[]},{"id":"22d810d9.79e4b","type":"debug","z":"f5d8069b.c88ee8","name":"Channel_Status","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","statusVal":"","statusType":"auto","x":430,"y":260,"wires":[]},{"id":"5e06a9cf.552a58","type":"function","z":"f5d8069b.c88ee8","name":"Adjust Button Lights","func":"var normalize_status = function(value)\n{\n    if (typeof(value) == \"undefined\") value = false;\n    else if (value === '0') value = false;\n    else if (value === '1') value = true;\n    else if (typeof value == \"string\")\n    {\n        if (value.toLowerCase() == \"on\") value = true;\n        else if (value.toLowerCase() == \"true\") value = true;\n        else if (value.toLowerCase() == \"high\") value = true;\n        else value = false;\n    }\n    else\n    {\n        value = false;\n    }\n\n    return value;\n}\n\nvar channel_to_button = flow.get(\"channel_to_button\");\nif (channel_to_button === undefined || channel_to_button === null) \n{\n    node.warn(\"There is no channel_to_button map\");\n    return null;\n}\n\nvar status_map = flow.get(\"status_map\");\n\nif (typeof status_map == 'undefined' || status_map === null)\n{\n    status_map = {};\n}\n\nif (msg.topic in channel_to_button)\n{\n    var channel_to_button_entry = channel_to_button[msg.topic];\n    var a_sts_mqtt = channel_to_button_entry.a_sts;\n    var b_sts_mqtt = channel_to_button_entry.b_sts;\n    var button_lights = channel_to_button_entry.button_lights;\n    var a_sts = true;\n    var b_sts = true;\n    if (a_sts_mqtt in status_map)\n    {\n        a_sts = normalize_status(status_map[a_sts_mqtt]);\n    }\n    if (b_sts_mqtt in status_map)\n    {\n        b_sts = normalize_status(status_map[b_sts_mqtt]);\n    }\n    \n    var sts = \"OFF\";\n    if (a_sts && !b_sts) sts = \"A\";\n    if (!a_sts && b_sts) sts = \"B\";\n    if (a_sts && b_sts) sts = \"ALL\";\n    \n    var msgs = [];\n    var light_count = button_lights.length;\n    for(var i = 0; i < light_count; ++i)\n    {\n        var light_msg = {};\n        light_msg.topic = button_lights[i];\n        light_msg.payload = sts;\n        msgs.push(light_msg);\n    }\n    seq_msgs = [];\n    seq_msgs.push(msgs);\n    \n    return seq_msgs;\n}\nelse\n{\n    return null;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":340,"wires":[["a37c6bee.6e6bf8","c7a4d01a.510df"]]},{"id":"c7a4d01a.510df","type":"mqtt out","z":"f5d8069b.c88ee8","name":"Button Light","topic":"","qos":"2","retain":"true","broker":"f6ee7db8.b87","x":830,"y":340,"wires":[]},{"id":"a37c6bee.6e6bf8","type":"debug","z":"f5d8069b.c88ee8","name":"Adjust Button Lights","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":860,"y":400,"wires":[]}]